/*

[Table of contents]

    1. Reset
    2. Common Elements
    3. List Styles
    4. Image
    5. Table
    6. Quotes
    7. CSS Transition
    8. Pre,Horizontal Line, Code
    9. Isotope
    10. Content Elements
    11. Form Elements
    12. Flex Slider
    13. Columns
    14. Tooltip
    15. Magnific Popup
    16. WordPress Default Gallery

*/

/* ---------------------------------------------- 
    1. Reset
---------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, em, font, img,blockquote, dl, dt, dd, ol, ul, li, fieldset,form, label, legend, caption, tbody, tfoot, thead {
	margin: 0; padding: 0; 	border: 0; outline: 0; font-size: 100%;	vertical-align: baseline; background: transparent; font-family: inherit; font-weight: inherit; font-style: inherit; letter-spacing: 0;}

* { noFocusLine: expression(this.hideFocus=true); vertical-align: baseline;	font-weight: inherit; font-family: inherit;	font-style: inherit; font-size: 100%; border: 0 none; outline: 0; padding: 0; margin: 0; }
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section,summary { display: block; }

audio,canvas,progress,video { display: inline-block; vertical-align: baseline; *zoom: 1; }
audio:not([controls]) { display: none; height: 0; }
figure { margin: 0; padding: 0; }
figure figcaption { text-align: center; }
svg:not(:root) { overflow: hidden; }
address { font-style:normal; }
font { color: inherit !important; font: inherit !important; color: inherit !important; }
marquee { overflow: inherit !important; -moz-binding: none; }
blink { text-decoration: none; }
nobr { white-space: normal; }
sub,sup { font-size: smaller; line-height: 0; position: relative; }
sup { vertical-align: super; }
sub { vertical-align: sub; }
small { font-size: smaller; }
del {text-decoration: line-through;}
iframe, object, embed, video{ max-width:100%; }
nav ul { margin: 0; padding: 0; }
nav ul li { display: inline; list-style: none; }
aside nav ul li { display: block; }
h1,h2,h3,h4,h5,h6 { text-rendering: optimizeLegibility; }

p { -moz-osx-font-smoothing: grayscale; word-break: normal;  }

@media print {    
    * { background: transparent !important; box-shadow: none !important;  text-shadow: none !important; } 
    a, a:visited { text-decoration: underline; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}

/* ---------------------------------------------- 
    2. Common Elements
---------------------------------------------- */

html { height:100%; font-size:100%; -webkit-font-smoothing: antialiased; -ms-text-size-adjust: 100%;  -webkit-text-size-adjust: 100%; }

body { height: 100%; font-weight:normal; margin:0; padding:0; webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -moz-osx-font-smoothing: grayscale; -ms-word-wrap: break-word; word-wrap: break-word; font-style: normal !important; }  

/* Clear */
.clear,.clearfix,.clearall { clear:both;}
.clear:before,.clear:after,.clearfix:before,.clearfix:after { content: " "; display: table; } 
.clear:after,.clearfix:after { clear: both; } 
.clearfix { *zoom: 1; }

/* Link */
a:not(ul.godgrace_top_nav li.godgrace-mega-menu > ul > li:first-child) { text-decoration: none; transition: all 0.3s ease-out;  max-width:100%; }
.inline-link,.inline_link, .inlineLink { display: inline-block; margin: 0 0.2em; padding: 3px; background: #97CAF2; border-radius: 2px; transition: all 0.3s ease-out; text-decoration: none; font-weight: bold; color: white; }
.godgrace_skin_color a,.godgrace_skin_color1 a,.godgrace_skin_color2 a { text-decoration: none; }

/* Common Classes Names */
.bold,b,strong { font-weight:bold}
.italic,dfn,em,var { font-style:italic}
.left,.float_left,.float-left {float:left;}
.right,.float_right, .float-right {float:right; }
.center, .text-center,.align_center,.alignCenter,.aligncenter,.align-center { text-align: center !important;}
.aligncenter { clear:both; display: block; margin:0 auto; }
.justify,.text-justify { text-align: justify !important; }
.text-left,.align_left,.alignLeft,.align-left { text-align: left !important; }
.text-right,.align_right,.alignRight,.align-right { text-align: right !important; }  
.block { display: block; }
.inline-block { display: inline-block;}
.uppercase { text-transform: uppercase; }


/* ---------------------------------------------- 
    3. List Styles
---------------------------------------------- */

ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; margin-left: 7px; }
ol { list-style: decimal ; margin-left: 20px; }
ol, ul.square, ul.circle, ul.disc { }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside none; }
ul ul, ul ol,ol ol, ol ul { margin: 4px 0 5px 30px;   }
ul ul li, ul ol li,ol ol li, ol ul li { margin-bottom: 6px; }

/* ---------------------------------------------- 
    4. Image
---------------------------------------------- */

img,img a,a img, :link img, :visited img { max-width:100%; height:auto; display: inline-block; vertical-align: middle; image-rendering: crisp-edges;  }
.round5,.round5 img { border-radius: 5px; }
.round10,.round10 img { border-radius: 10px; }
.round15,.round15 img { border-radius: 15px; }
.round20,.round20 img { border-radius: 20px; }
.round25,.round25 img { border-radius: 25px; }
.alignleft { float:left; margin:0 25px 25px 0; }
.alignright { float:right; margin:0 0 25px 25px; }

/* ---------------------------------------------- 
    5. Table
---------------------------------------------- */

table { border-collapse: collapse; border-spacing: 0; width: 100%; padding: 0;	margin: 0 0 30px 0; }
td, td img { vertical-align:top; } 
table caption { padding: 0 0 20px 0; width: auto; font-size: 18px; font-weight: bold;  }

th { font-weight:bold;  text-align: left; padding: 0.5em 1em; border-style: solid; border-width: 1px; border-left:none;
	border-top:none; }
tr th:first-child, tr td:first-child{ border-left-style: solid; border-left-width: 1px; }
tr:first-child th, tr:first-child td{ border-top-style: solid; border-top-width: 1px; }
td {  padding: 0.5em 1em; border-style: solid; border-width: 1px;  border-top:none; }

dl { margin-bottom: 1.5em; } 
dt { float: left; clear: left; width: 100px; text-align: left; font-weight: bold; } 
dt:after { content: ""; } 
dd { margin: 0 0 0 110px; padding: 0 0 0.7em 0; }

/* ---------------------------------------------- 
    6. Quotes
---------------------------------------------- */

/* Blockquote */
.godgrace_site_content blockquote { display: block; text-align: left; margin:35px auto; position: relative; padding:18px 37px 18px 37px; border:4px solid #f1f1f1; }
.godgrace_site_content blockquote,.godgrace_site_content blockquote > p { font-size: 115%; line-height: 36px; position: relative; }
.godgrace_site_content blockquote > p { padding:5px 0; margin:0; }
.godgrace_site_content blockquote:before,.godgrace_site_content blockquote:after { content:'\f10d'; font-family:FontAwesome; font-size: 12px; position: absolute; left:-18px; top:25px; width:34px; height:34px; line-height: 34px; display: block; text-align: center; border-radius: 50%; background:#fff; font-style: normal;   }
.godgrace_site_content blockquote:after { left:auto; top:auto; bottom:25px; right:-18px; content:'\f10e';   }

/* Quote */
q:before { content: "\201c"; }
q:after { content: "\201d"; }
q q:before { content: "\2018"; }
q q:after { content: "\2019"; }
q {quotes: "“" "”" "‘" "’"; } 
q:before {content: open-quote; } 
q:after {content: close-quote; }

/* ---------------------------------------------- 
    7. CSS Transition
---------------------------------------------- */

.godgrace_css_transition a,
.godgrace_post_single_pagination a .godgrace_pp_arrow,
.godgrace_post_single_pagination a .godgrace_pp_link_text,
.godgrace_slider_box .flex-direction-nav .flex-next,
.godgrace_slider_box .flex-direction-nav .flex-prev,
.godgrace_pp_prev .godgrace_pp_link_title,
.godgrace_pp_next .godgrace_pp_link_title,
#godgrace_go_top_scroll_btn,
.godgrace_slider_box .flex-direction-nav .flex-next,.godgrace_slider_box .flex-direction-nav .flex-prev,
.godgrace_post_button a,
.godgrace_pp_view_all span,
.godgrace_pp_view_all span i,

.godgrace_contactbar_content ul.godgrace_contactbar_socials li,
ul.godgrace_top_nav > li > a,
ul.godgrace_top_nav > li > ul li,
#godgrace_Header.godgrace_smaller_menu #godgrace_mobi_nav,
#godgrace_Header.godgrace_smaller_menu ul.godgrace-menu-setting-msg,
ul.godgrace_top_nav li li a span,
ul.godgrace_top_nav li.godgrace-mega-menu > ul li li a,
ul.godgrace_top_nav li.godgrace-mega-menu > ul li > a:before,
.godgrace_header_donate_btn a,
button,a.button,
.godgrace_blog_grid_date,
input[type="submit"],

.tribe-bar-submit input[type=submit],
.godgrace_portfolio_box .godgrace_portfolio_title span a.godgrace_pf_title_link,
.godgrace_portfolio_box .godgrace_portfolio_title,
.godgrace_portfolio_box .godgrace_portfolio_title span a.godgrace_pf_title_link_icon:before,
.godgrace_portfolio_box .godgrace_portfolio_title span a.godgrace_pf_title_link_icon,
.godgrace_global_grid_hover,

.godgrace_next_prev_box, 
.godgrace_next_prev_box a span, 
.godgrace_next_prev_box a i,
ul.godgrace_post_share_icons_list li,
.godgrace_cause_donate_button:after,
.godgrace_causes_box .godgrace_cause_donate_button,

ul.godgrace_top_nav > li:not(.godgrace-mega-menu) > ul li a span:before,
ul.godgrace_top_nav > li:not(.godgrace-mega-menu) > ul li a span:after,
.godgrace_global_image_overlay .godgrace_global_grid_hover span,
.godgrace_causes_box .godgrace_cause_title,
.godgrace_causes_box .godgrace_cause_title h4 a
{
	-moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s;	
	-moz-transition-property: 	all;
	-webkit-transition-property:all;
	-o-transition-property: 	all;
	transition-property: 		all;
}

/* ---------------------------------------------- 
    8. Pre,Horizontal Line, Code
---------------------------------------------- */

pre { 
	clear:both; width:100%; overflow:auto; padding:2em; line-height: 2em; font-size: 12px;
	-webkit-background-size: 100% 4em ; -moz-background-size: 100% 4em ; background-size: 100% 4em;
	font-family: Monaco, "Andale Mono", "Courier New", Courier, monospace;
	-webkit-transition: all ease-in-out 0.5s; -moz-transition: all ease-in-out 0.5s; -o-transition: all ease-in-out 0.5s; transition: all ease-in-out 0.5s;
	margin-bottom: 20px; position: relative; left:0; text-transform: none;
}

code,kbd,samp {
font-family: Monaco, "Andale Mono", "Courier New", Courier, monospace;
}

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/* ---------------------------------------------- 
    9. Isotope
---------------------------------------------- */

.isotope,.isotope .isotope-item {  -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }
.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity,border-color, box-shadow; -moz-transition-property: -moz-transform, opacity,border-color, box-shadow; -o-transition-property: top, left, opacity,border-color, box-shadow; transition-property: transform, opacity,border-color, box-shadow; }
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }
.isotope.infinite-scrolling { -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; }
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }

.godgrace_blog_grid.isotope-item,.godgrace_blog_grid .isotope { -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s;   }

/* ---------------------------------------------- 
    10. Content Elements
---------------------------------------------- */

p { margin: 0 0 20px 0; }
p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 { margin-top:1.5em; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; margin-bottom: 20px; line-height: 1.5em; }

.godgrace_site_content h1,.godgrace_site_content h2,.godgrace_site_content h3,.godgrace_site_content h4,.godgrace_site_content h5,.godgrace_site_content h6,
.godgrace_site_content h1 a,.godgrace_site_content h2 a,.godgrace_site_content h3 a,.godgrace_site_content h4 a,.godgrace_site_content h5 a,.godgrace_site_content h6 a { color:#202020; }

h1 { font-size: 48px; }
h2 { font-size: 40px; }
h3 { font-size: 36px; }
h4 { font-size: 30px; margin-bottom: 20px; } 
h5 { font-size: 26px; margin-bottom: 20px; }						
h6 { font-size: 20px; margin-bottom: 20px; }

/*Hide google map direction box on left top side*/
.gm-style .place-card-large { display:none; left:-2000px; }	

/* ---------------------------------------------- 
    11. Form Elements
---------------------------------------------- */

label, input[type=button], input[type=submit], input[type=file], button {cursor: pointer;}
button,input,optgroup,select,textarea { margin: 0; webkit-font-smoothing: antialiased;  }
button { overflow: visible; width: auto; overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"],input[type="submit"],.button { cursor: pointer; border-radius: 20px; line-height: 38px; min-height:38px; padding:0 20px; display: inline-block; font-weight: bold; font-size: 90%; }
button[disabled],html input[disabled] { cursor: default; }
button::-moz-focus-inner,input::-moz-focus-inner { border: 0; padding: 0; }

input,textarea { font: 12px/20px; font:inherit; resize:none; }
input { line-height: normal; }
input[type="checkbox"],input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button { height: auto; }
legend { border: 0; padding: 0; }
textarea { height: auto; min-height: 100px; width: 100%; max-width: 100%; -webkit-appearance: none; }
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; }
:focus { outline: 0; }
input[type="submit"],div.wpcf7 input[type="submit"] { height:auto; border:0; }

form { margin-bottom: 20px; }
fieldset { margin-bottom: 20px; }
.input-text, input[type="text"], input[type="input"], input[type="password"], input[type="email"], input[type="number"],    input[type="url"], input[type="tel"],
input[type="search"], textarea, select { -webkit-appearance: none; box-sizing: border-box; outline: none;	border-radius: 0; padding: 12px; margin: 0 0 20px 0; width: 200px;max-width: 100%;display: block; border:2px solid #e6e6e6; background:transparent; line-height: 24px; }

textarea { min-height: 80px; height:190px; line-height:1.5em; width:100%; }
label{ display: block; font-weight: bold; font-size: 17px;  }
form.post-password-form label { display: inline-block; float:left; margin:0 4px 10px 0;}
legend { display: block; font-weight: normal; }
input[type="checkbox"] { display: inline; }
label span, legend span { font-weight: normal; font-size: 13px; }
.select option { padding: 0; margin: 0; }

/* ---------------------------------------------- 
    12. Flex Slider
---------------------------------------------- */

/* FlexSlider Default Styles */
.flex-container a:active, .flexslider a:active,.flex-container a:focus,.flexslider a:focus  { outline: none;}
.slides, .flex-control-nav,.flex-direction-nav { margin: 0; padding: 0; list-style: none;}
.flexslider .slides { zoom: 1;}
.flexslider { cursor: pointer; margin: 0; padding: 0; position: relative; font-size:0; 	width:100%; } 
.flexslider .slides > li { display: none; padding:0; margin:0; background:none; list-style:none; -webkit-backface-visibility: hidden; font-size:0; line-height: 0;width:100%; overflow: hidden; }
.flexslider .slides > li > a { padding:0; margin:0; font-size:0;}
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span { text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; 	height: 0; } 
html[xmlns] .slides { display: block; } 
* html .slides { height: 1%; }
.no-js .slides > li:first-child { display: block; }
.flex-direction-nav { *height: 0; }

/* Direction Nav */
.flex-direction-nav a { display: block; position: absolute; z-index: 10; cursor: pointer;  transition: opacity .25s ease-in-out;   -moz-transition: opacity .25s ease-in-out;   -webkit-transition: opacity .25s ease-in-out;  font-size: 10px; text-decoration: none; }
ul.flex-direction-nav {  padding:0; margin:0;}	
ul.flex-direction-nav li { background:none; padding:0; margin:0; list-style: none; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom:0px; text-align: center;}
.flex-control-nav li {margin: 0 5px; display: inline-block; zoom: 1; *display: inline; background:none; }
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 100px; -moz-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

/* Custom Styles */
.godgrace_slider_box .flexslider .flex-control-nav li img { opacity:1;  }

/* bullets navigation */
.godgrace_slider_box { display:block;   }
.godgrace_slider_box .flexslider { cursor: auto; height:100%;}
.godgrace_slider_box .flex-control-nav { text-align: right; font-size: 0; right:0; margin:0 12px 12px 0; z-index: 100; }
.godgrace_slider_box .flexslider .flex-control-nav li { margin:0 5px;   }
.godgrace_slider_box .flexslider .flex-control-nav li a { width:10px; height:10px; }

/* arrow navigation */
.godgrace_slider_box .flex-direction-nav a { display:inline-block; margin:-18px 0 0 0; width:38px; height:38px; line-height: 38px; top:50%; bottom:auto; z-index:100; text-align:center; text-indent: 0; color:#fff  }
.godgrace_slider_box .flex-direction-nav a i { margin: 0; font-size: 14px;  line-height: 34px; }

.godgrace_slider_box .flex-direction-nav a.flex-next i { margin-left:2px; }
.godgrace_slider_box .flex-direction-nav a.flex-prev i { margin-left:-2px; }

.godgrace_slider_box .flex-direction-nav .flex-next,.godgrace_slider_box .flex-direction-nav .flex-prev { border:3px solid rgba(255,255,255,0.3); color:rgba(255,255,255,0.3); width:38px; height:38px; line-height: 38px; text-align: center; border-radius: 100px; }

.godgrace_slider_box .flex-direction-nav .flex-next{ right:25px;  }
.godgrace_slider_box .flex-direction-nav .flex-prev { left:25px; }

.godgrace_slider_box:hover .flex-direction-nav .flex-next,.godgrace_slider_box:hover .flex-direction-nav .flex-prev { border-color: rgba(255,255,255,0.6); color:rgba(255,255,255,0.6); }

.godgrace_slider_box .flex-direction-nav .flex-next:hover,.godgrace_slider_box .flex-direction-nav .flex-prev:hover { border-color: rgba(255,255,255,1.0); color:rgba(255,255,255,1.0); }
.godgrace_slider_box .flex-direction-nav:hover a i[class^="icon-"]:before { }

/* ---------------------------------------------- 
    13. Columns
---------------------------------------------- */

.godgrace_row {  margin:0 -20px;  }

.godgrace_column_gap { padding:0 20px; }
.godgrace_column { display: block; float: left; min-height: 20px; -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box; height:auto; }

.godgrace_row .godgrace_column1,.godgrace_one_full  { width:100%; }
.godgrace_row .godgrace_column2,.godgrace_one_half { width:50%; }
.godgrace_row .godgrace_column3,.godgrace_one_third { width:33.3%; }
.godgrace_row .godgrace_column4,.godgrace_one_fourth { width:25%; }
.godgrace_row .godgrace_column5,.godgrace_one_fifth { width:20%; }
.godgrace_row .godgrace_column6,.godgrace_one_sixth { width:16.66666666666666%; }

.godgrace-layout-sidebar-left .godgrace_row .godgrace_column2,
.godgrace-layout-sidebar-left .godgrace_row .godgrace_column3,
.godgrace-layout-sidebar-left .godgrace_row .godgrace_column4,
.godgrace-layout-sidebar-right .godgrace_row .godgrace_column2,
.godgrace-layout-sidebar-right .godgrace_row .godgrace_column3,
.godgrace-layout-sidebar-right .godgrace_row .godgrace_column4 { width:50%; }

.godgrace_two_third     { width: 66.6%; }
.godgrace_three_fourth  { width: 75%; }
.godgrace_four_fifth    { width: 80%; }
.godgrace_five_sixth    { width: 83.3%; }

.godgrace_custom_two_third { width: 66.66666666666667%; margin-left: 0; float:left; }
.godgrace_column.godgrace_custom_two_third,.godgrace_column.sidebar { margin-left: 0; }
.godgrace-layout-sidebar-right .godgrace_custom_two_third { float:left; }
.godgrace-layout-sidebar-left .godgrace_custom_two_third { float:right; }
.godgrace-layout-full-width .godgrace_custom_two_third { margin:0; float:none; width:100%; }

#sidebar { display:block; }
.godgrace-layout-sidebar-right #sidebar { float:right; }
.godgrace-layout-sidebar-left #sidebar { float:left; }

.godgrace-layout-full-width.godgrace_post_sidebar_page .godgrace_custom_two_third { width:100%; }

/* ---------------------------------------------- 
    14. Tooltip
---------------------------------------------- */

.tooltipster-default {border-radius: 3px; background: #222; color: #fff; }
.tooltipster-default .tooltipster-content {font-family: Arial, sans-serif; font-size: 14px; line-height: 16px; padding: 8px 10px; overflow: hidden; }
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {/* border-color: ... !important; */
}
.tooltipster-icon {cursor: help; margin-left: 4px; }
.tooltipster-base {padding: 0; font-size: 0; line-height: 0; position: absolute; left: 0; top: 0; z-index: 9999999; pointer-events: none; width: auto; overflow: visible; }
.tooltipster-base .tooltipster-content {overflow: hidden; }

.tooltipster-arrow {display: block; text-align: center; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -1; }
.tooltipster-arrow span, .tooltipster-arrow-border {display: block; width: 0; height: 0; position: absolute; }
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {border-left: 8px solid transparent !important; border-right: 8px solid transparent !important; border-top: 8px solid; bottom: -7px; }
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {border-left: 9px solid transparent !important; border-right: 9px solid transparent !important; border-top: 9px solid; bottom: -7px; }
.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {border-left: 8px solid transparent !important; border-right: 8px solid transparent !important; border-bottom: 8px solid; top: -7px; }
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {border-left: 9px solid transparent !important; border-right: 9px solid transparent !important; border-bottom: 9px solid; top: -7px; }
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {left: 0; right: 0; margin: 0 auto; }
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {left: 6px; }
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {left: 5px; }
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {right: 6px; }
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {right: 5px; }
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {border-top: 8px solid transparent !important; border-bottom: 8px solid transparent !important; border-left: 8px solid; top: 50%; margin-top: -7px; right: -7px; }
.tooltipster-arrow-left .tooltipster-arrow-border {border-top: 9px solid transparent !important; border-bottom: 9px solid transparent !important; border-left: 9px solid; margin-top: -8px; }
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {border-top: 8px solid transparent !important; border-bottom: 8px solid transparent !important; border-right: 8px solid; top: 50%; margin-top: -7px; left: -7px; }
.tooltipster-arrow-right .tooltipster-arrow-border {border-top: 9px solid transparent !important; border-bottom: 9px solid transparent !important; border-right: 9px solid; margin-top: -8px; }

.tooltipster-fade {opacity: 0; -webkit-transition-property: opacity; -moz-transition-property: opacity; -o-transition-property: opacity; -ms-transition-property: opacity; transition-property: opacity; }
.tooltipster-fade-show {opacity: 1; }
.tooltipster-grow {-webkit-transform: scale(0,0); -moz-transform: scale(0,0); -o-transform: scale(0,0); -ms-transform: scale(0,0); transform: scale(0,0); -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; -ms-transition-property: -ms-transform; transition-property: transform; -webkit-backface-visibility: hidden; }
.tooltipster-grow-show {-webkit-transform: scale(1,1); -moz-transform: scale(1,1); -o-transform: scale(1,1); -ms-transform: scale(1,1); transform: scale(1,1); -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); }
.tooltipster-swing {opacity: 0; -webkit-transform: rotateZ(4deg); -moz-transform: rotateZ(4deg); -o-transform: rotateZ(4deg); -ms-transform: rotateZ(4deg); transform: rotateZ(4deg); -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; -ms-transition-property: -ms-transform; transition-property: transform; }
.tooltipster-swing-show {opacity: 1; -webkit-transform: rotateZ(0deg); -moz-transform: rotateZ(0deg); -o-transform: rotateZ(0deg); -ms-transform: rotateZ(0deg); transform: rotateZ(0deg); -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1); -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); -moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); -ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); -o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); }
.tooltipster-fall {top: 0; -webkit-transition-property: top; -moz-transition-property: top; -o-transition-property: top; -ms-transition-property: top; transition-property: top; -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); }
.tooltipster-fall-show {}
.tooltipster-fall.tooltipster-dying {-webkit-transition-property: all; -moz-transition-property: all; -o-transition-property: all; -ms-transition-property: all; transition-property: all; top: 0px !important; opacity: 0; }
.tooltipster-slide {left: -40px; -webkit-transition-property: left; -moz-transition-property: left; -o-transition-property: left; -ms-transition-property: left; transition-property: left; -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); }
.tooltipster-slide.tooltipster-slide-show {}
.tooltipster-slide.tooltipster-dying {-webkit-transition-property: all; -moz-transition-property: all; -o-transition-property: all; -ms-transition-property: all; transition-property: all; left: 0px !important; opacity: 0; }

.tooltipster-content-changing {opacity: 0.5; -webkit-transform: scale(1.1, 1.1); -moz-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }

/* ---------------------------------------------- 
    15. Magnific Popup
---------------------------------------------- */

.mfp-bg {top: 0; left: 0; width: 100%; height: 100%; z-index: 1042; overflow: hidden; position: fixed; background: #0b0b0b; opacity: 0.8; filter: alpha(opacity=80); }
.mfp-wrap {top: 0; left: 0; width: 100%; height: 100%; z-index: 1043; position: fixed; outline: none !important; -webkit-backface-visibility: hidden; }
.mfp-container {text-align: center; position: absolute; width: 100%; height: 100%; left: 0; top: 0; padding: 0 8px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.mfp-container:before {content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.mfp-align-top .mfp-container:before {display: none; }
.mfp-content {position: relative; display: inline-block; vertical-align: middle; margin: 0 auto; text-align: left; z-index: 1045; }
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {width: 100%; cursor: auto; }
.mfp-ajax-cur {cursor: progress; }
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {cursor: -moz-zoom-out; cursor: -webkit-zoom-out; cursor: zoom-out; }
.mfp-zoom {cursor: pointer; cursor: -webkit-zoom-in; cursor: -moz-zoom-in; cursor: zoom-in; }
.mfp-auto-cursor .mfp-content {cursor: auto; }
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {-webkit-user-select: none; -moz-user-select: none; user-select: none; }
.mfp-loading.mfp-figure {display: none; }
.mfp-hide {display: none !important; }
.mfp-preloader {color: #CCC; position: absolute; top: 50%; width: auto; text-align: center; margin-top: -0.8em; left: 8px; right: 8px; z-index: 1044; }
.mfp-preloader a {color: #CCC; }
.mfp-preloader a:hover {color: #FFF; }
.mfp-s-ready .mfp-preloader {display: none; }
.mfp-s-error .mfp-content {display: none; }
button.mfp-close, button.mfp-arrow {overflow: visible; cursor: pointer; background: transparent; border: 0; -webkit-appearance: none; display: block; outline: none; padding: 0; z-index: 1046; -webkit-box-shadow: none; box-shadow: none; }
button::-moz-focus-inner {padding: 0; border: 0; }
.mfp-close {width: 44px; height: 44px; line-height: 44px; position: absolute; right: 0; top: 0; text-decoration: none; text-align: center; opacity: 0.65; filter: alpha(opacity=65); padding: 0 0 18px 10px; color: #FFF; font-style: normal; font-size: 28px; font-family: Arial, Baskerville, monospace; }
.mfp-close:hover, .mfp-close:focus {opacity: 1; filter: alpha(opacity=100); }
.mfp-close:active {top: 1px; }
.mfp-close-btn-in .mfp-close {color: #333; }
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {color: #FFF; right: -6px; text-align: right; padding-right: 6px; width: 100%; }
.mfp-counter {position: absolute; top: 0; right: 0; color: #CCC; font-size: 12px; line-height: 18px; white-space: nowrap; }
.mfp-arrow {position: absolute; opacity: 0.65; filter: alpha(opacity=65); margin: 0; top: 50%; margin-top: -55px; padding: 0; width: 90px; height: 110px; -webkit-tap-highlight-color: transparent; }
.mfp-arrow:active {margin-top: -54px; }
.mfp-arrow:hover, .mfp-arrow:focus {opacity: 1; filter: alpha(opacity=100); }
.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {content: ''; display: block; width: 0; height: 0; position: absolute; left: 0; top: 0; margin-top: 35px; margin-left: 35px; border: medium inset transparent; }
.mfp-arrow:after, .mfp-arrow .mfp-a {border-top-width: 13px; border-bottom-width: 13px; top: 8px; }
.mfp-arrow:before, .mfp-arrow .mfp-b {border-top-width: 21px; border-bottom-width: 21px; opacity: 0.7; }
.mfp-arrow-left {left: 0; }
.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {border-right: 17px solid #FFF; margin-left: 31px; }
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {margin-left: 25px; border-right: 27px solid #3F3F3F; }
.mfp-arrow-right {right: 0; }
.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {border-left: 17px solid #FFF; margin-left: 39px; }
.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {border-left: 27px solid #3F3F3F; }
.mfp-iframe-holder {padding-top: 40px; padding-bottom: 40px; }
.mfp-iframe-holder .mfp-content {line-height: 0; width: 100%; max-width: 900px; }
.mfp-iframe-holder .mfp-close {top: -40px; }
.mfp-iframe-scaler {width: 100%; height: 0; overflow: hidden; padding-top: 56.25%; }
.mfp-iframe-scaler iframe {position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); background: #000; }

/* Main image in popup */ 
img.mfp-img {width: auto; max-width: 100%; height: auto; display: block; line-height: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 40px 0 40px; margin: 0 auto; }

/* The shadow behind the image */ 
.mfp-figure {line-height: 0; }
.mfp-figure:after {content: ''; position: absolute; left: 0; top: 40px; bottom: 40px; display: block; right: 0; width: auto; height: auto; z-index: -1; box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); background: #444; }
.mfp-figure small {color: #BDBDBD; display: block; font-size: 12px; line-height: 14px; }
.mfp-figure figure {margin: 0; }
.mfp-bottom-bar {margin-top: -36px; position: absolute; top: 100%; left: 0; width: 100%; cursor: auto; }
.mfp-title { text-align: left; line-height: 22px; color: #F3F3F3; word-wrap: break-word; text-align: center; padding-top: 5px; font-weight: bold; }
.mfp-image-holder .mfp-content {max-width: 100%; }
.mfp-gallery .mfp-image-holder .mfp-figure {cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    .mfp-img-mobile .mfp-image-holder {padding-left: 0; padding-right: 0; }
    .mfp-img-mobile img.mfp-img {padding: 0; }
    .mfp-img-mobile .mfp-figure:after {top: 0; bottom: 0; }
    .mfp-img-mobile .mfp-figure small {display: inline; margin-left: 5px; }
    .mfp-img-mobile .mfp-bottom-bar {background: rgba(0, 0, 0, 0.6); bottom: 0; margin: 0; top: auto; padding: 3px 5px; position: fixed; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {padding: 0; }
    .mfp-img-mobile .mfp-counter {right: 5px; top: 3px; }
    .mfp-img-mobile .mfp-close {top: 0; right: 0; width: 35px; height: 35px; line-height: 35px; background: rgba(0, 0, 0, 0.6); position: fixed; text-align: center; padding: 0; }
}

@media all and (max-width: 900px) {
    .mfp-arrow {-webkit-transform: scale(0.75); transform: scale(0.75); }
    .mfp-arrow-left {-webkit-transform-origin: 0; transform-origin: 0; }
    .mfp-arrow-right {-webkit-transform-origin: 100%; transform-origin: 100%; }
    .mfp-container {padding-left: 6px; padding-right: 6px; }
}

.mfp-ie7 .mfp-img {padding: 0; }
.mfp-ie7 .mfp-bottom-bar {width: 600px; left: 50%; margin-left: -300px; margin-top: 5px; padding-bottom: 5px; }
.mfp-ie7 .mfp-container {padding: 0; }
.mfp-ie7 .mfp-content {padding-top: 44px; }
.mfp-ie7 .mfp-close {top: 0; right: 0; padding-top: 0; }

/* ---------------------------------------------- 
    16. WordPress Default Gallery / Other Elements
---------------------------------------------- */

dd.wp-caption-text.gallery-caption { display: inline-block; font-size: 90%; line-height: 18px; padding:10px 0; margin:0 auto; text-align: center; clear:both; }
.gallery-item dt:after { content:""; }
.gallery { margin:30px 0; }
.gallery .gallery-item dt { width:auto; float:none; }
.gallery .gallery-item { padding: 0; width: auto; float:left; text-align: center; }
.gallery a,  .gallery a img { max-width: 100%; width: auto; height: auto; display: block; position: relative; border: none; padding:0; margin:0; border-radius: 10px; }

.gallery { margin:0; }
dl.gallery-item { padding:1%; margin:0; }
dl.gallery-item img { width:100%; }

.gallery-columns-1 dl.gallery-item { width:100%; margin-bottom: 50px; }
.gallery-columns-2 dl.gallery-item { width:50%; padding:1.5%; }
.gallery-columns-3 dl.gallery-item { width:33.29%; padding:1.2%; }
.gallery-columns-4 dl.gallery-item { width:24.95%; padding:1%; }
.gallery-columns-5 dl.gallery-item { width:20%; padding:0.85%; }
.gallery-columns-6 dl.gallery-item { width:16.65%; padding:0.9%; }
.gallery-columns-7 dl.gallery-item { width:14.1%; padding:0.8%; }
.gallery-columns-8 dl.gallery-item { width:12.4%; padding:0.7%; }
.gallery-columns-9 dl.gallery-item { width:11%; padding:0.6%; }

.godgrace_img_gallery_masonry dl.gallery-item { padding:2px; }

.screen-reader-text {clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important; width: 1px; word-wrap: normal !important; }