/*

[Table of contents]

	1. General
	2. List Style
	3. Contact Bar
	4. Header / Menu
		4.1 Logo
		4.1 Dropdown
		4.1 Item Space 
		4.1 Mega menu 
		4.1 Arrow after before
		4.1 Mobile menu
		4.1 Sticky Header
		4.1 Search Icon Section 
	5. Sub Header
		5.1 Breadcrumbs
		5.1 Z-indexs 
		5.1 Google map - Revolution slider 
	6. Sidebar
	7. Footer
		7.1 Widget Footer
		7.2 Small Footer
	8. Blog
		8.1 Title section, icon
		8.2 Meta
		8.3 Quote
		8.4 Blog Style Grid
		8.5 Grid image hover
		8.6 Tile Gallery
		8.7 Post Single Styles
		8.8 About author
		8.9 Related Posts
		8.10 Comments
		8.11 Comment Form
		8.12 Post Single Next Prev Pagination
	9. Pagination
	10. Search Page
	11. Archives Page
	12. Causes Page
		12.1 Causes Single Page
	13. Portfolio Page
	14. Testimonials
	15. Blank Page
	16. WordPress Default Widgets Styles
		16.1 RSS
		16.2 Text
		16.3 Tag Colud
		16.4 Calendar Widget
		16.5 Search Widget
		16.6 Recent Comments
		16.7 Captions

*/

/* ---------------------------------------------- 
 	1. General
---------------------------------------------- */

.godgrace_l_boxed { margin:0 auto; overflow: visible; }

#godgrace_main_container { width:100%; position: relative; z-index: 2; }
.godgrace_container { position: relative; margin:0 auto; }
.godgrace_main_container_wrap { margin:0 auto; }

.godgrace_main_container { display:block; margin:0 auto; width:auto; position: relative;  }

.godgrace_site_content a { text-decoration: none; }

.godgrace_site_loader { width:100%; height:100%; position: relative; }
.godgrace_loader_holder { position: absolute; top:50%; left:50%; display: block; width:60px; height:60px; margin-top:-30px; margin-left: -30px; }

.godgrace_loader { position:relative; }
.godgrace_loader span { position:absolute; border: 6px solid #000; border-top: 6px solid transparent; border-radius:999px; }
.godgrace_loader span:nth-child(1){ width:60px; height:60px; animation: spin-1 2s infinite linear; }
.godgrace_loader span:nth-child(2){ top: 15px; left: 15px; width:30px; height:30px; animation: spin-2 1s infinite linear; }

@keyframes spin-1 {0% {transform: rotate(360deg); opacity: 1;} 50% {transform: rotate(180deg); opacity: 0.5;} 100% {transform: rotate(0deg); opacity: 1;} } 
@keyframes spin-2 {0% {transform: rotate(0deg); opacity: 0.5;} 50% {transform: rotate(180deg); opacity: 1;} 100% {transform: rotate(360deg); opacity: 0.5;} }

/* ---------------------------------------------- 
 	2. List Styles
---------------------------------------------- */

.godgrace_container ul { list-style: disc outside none; }
.godgrace_container li { margin-left: 1em; padding: 3px 0px; }

.sidebar ul,.footer ul { list-style: none; margin: 0; }
.sidebar ul li { margin:0; padding: 3px 0px; display: block; line-height: normal; }

/* ---------------------------------------------- 
 	3. Contact Bar
---------------------------------------------- */

.godgrace_logo_right_holder { display: block; position:relative; }

.godgrace_contactbar { display: block; position: relative; float:right; }
.godgrace_contactbar a { text-decoration: none; }
.godgrace_contactbar_content_mobile { display: none; }

.godgrace_contactbar ul.godgrace_contactbar_socials { float:left; margin:7px 0 0 -3px;  }
.godgrace_contactbar ul.godgrace_contactbar_socials li { display: inline-block; float:left; list-style: none; margin:0 3px 3px 0; padding:0; line-height: 20px; text-align: center; }
.godgrace_contactbar ul.godgrace_contactbar_socials li:last-child { margin-right:0; }
.godgrace_contactbar ul.godgrace_contactbar_socials li a { height:15px; width:15px; display:block; }
.godgrace_contactbar ul.godgrace_contactbar_socials li i { margin:0; font-size: 12px; }

.godgrace_contactbar_call { display: inline-block; float:left; margin-right:40px; position:relative; padding-left:52px; padding-top:29px; }
.godgrace_contactbar .godgrace_contactbar_call:last-child { margin-right:0; }
.godgrace_contactbar_icon { width:36px; height:36px; display: block; position: absolute; top:30px; left:0; line-height:32px; text-align: center; border:2px solid; border-radius: 50%;   }
.godgrace_contactbar_icon i { font-size:14px;  }
.godgrace_contactbar_title { display: block; line-height:20px; }
.godgrace_contactbar_subtitle { display: block; margin-top:-5px; }

.godgrace_h_search_icon { position: relative; float:right; margin-left:40px; margin-top:30px; }
.godgrace_h_search_icon form { margin:0; }
.godgrace_h_search_icon form button.godgrace_search_button { position: absolute; top: 0; right: 0; display: block; background: none; padding:0 15px 0 0; line-height:30px; font-size:12px; }
.godgrace_h_search_icon form input { border:2px solid; border-radius:30px; height:36px; line-height:32px; padding:0 40px 0 15px; width:auto; width:125px; }

.godgrace_contactbar_content_mobile { display: none; position: relative; margin-top:30px; }
.godgrace_contactbar_content_mobile_wrap {  position: absolute; right:0; top:44px; z-index: 3; display: none; }
.godgrace_contactbar_icon_mobile { display: block; float:none; line-height: 20px; margin-bottom:10px; }
.godgrace_contactbar_icon_mobile i { margin-right:7px; }
.godgrace_contactbar_content_mobile_holder { display: block; width:220px; padding:20px 20px 2px 55px; position: relative; border-top:3px solid; }
.godgrace_contactbar_content_mobile_holder:before { content:''; width:40px; height:100%; display: block; position:absolute; left:0; top:0; background:rgba(0,0,0,0.1); }
.godgrace_contactbar_icon_mobile > i { margin-left:-45px; display: inline-block; width:20px; height:20px; margin-right:15px; float:left; margin-top:4px; text-align:center;  }
.godgrace_contactbar_content_mobile_holder ul.godgrace_contactbar_socials { float:none; display: inline-block; margin:2px 0 0 -6px; }
.godgrace_contactbar_icon_mobile > i.fa-users { margin-top:6px;}
.godgrace_contactbar_content_mobile ul.godgrace_contactbar_socials li { margin:0 6px 6px 0;}

.godgrace_contactbar_content_mobile_btn { display:block; width:36px; height:36px; border:2px solid; line-height:32px; border-radius:50%; text-align:center; cursor:pointer; }
.logo_nav_active { display: block; }

/* ---------------------------------------------- 
 	4. Header / Menu
---------------------------------------------- */

body.godgrace_l_boxed .godgrace_header_main_container { overflow: hidden; }

ul.godgrace-menu-setting-msg { float:left; padding:0; margin:0; line-height: 48px; padding-left:20px; color:#fff;  }
ul.godgrace-menu-setting-msg li { list-style: none; font-size: 90%; padding:0; margin:0; }

.godgrace_header_container { position: relative; }

.godgrace_logo_menu_header { position: relative; display: block; width:100%; }
.godgrace_woo_cart_hover_menu,
#godgrace_mobi_nav #menu-top-navigation-menu,
.godgrace_infiniteScroll_loader { -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.1); -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.1); box-shadow: 0 2px 5px 0 rgba(0,0,0,.1); }

.godgrace_no_boxed.godgrace_fw_header #godgrace_header .godgrace_container,
.godgrace_no_boxed.godgrace_fw_header #godgrace_contactbar .godgrace_container { width:98%; max-width: none; }

.godgrace_header { display: block; position: relative; min-height:111px; }
.godgrace_nav,.subHeaderOff .godgrace_header,
.subHeaderOff .godgrace_logo_menu_header { position: relative; }
.subHeaderOff #godgrace_Header { -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.1); -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.1); box-shadow: 0 2px 5px 0 rgba(0,0,0,.1); }

/* 4.1 Logo and Menu ---------------------------------------------- */

.godgrace_logo { position: relative; float:left; }
.godgrace_logo_image { padding-right: 25px;  }
.godgrace_main_nav { /*display: block; */position: relative; }

nav.godgrace-top-menu { float:left; }
ul.godgrace_top_nav { padding:0; margin:0; float:left; z-index: 5; }
ul.godgrace_top_nav > li { display: inline-block; margin:0; float:left; padding:0;  text-align: left; }
ul.godgrace_top_nav > li > a { text-decoration: none; padding:0; position: relative;display: block; margin:0; }
ul.godgrace_top_nav > li > a > span { display: block; position: relative; clear:both; padding:0;  }

ul.godgrace_top_nav > li a i { margin-right: 5px; }

ul.godgrace_top_nav li { position: relative; list-style: none; }
ul.godgrace_top_nav li a { text-decoration: none; }

ul.godgrace_top_nav > li > a { margin:0; padding:0; }
ul.godgrace_top_nav > li > a > span { padding:0 0 0 0; }
ul.godgrace_top_nav > li:first-child > a { padding-left:20px; }

ul.godgrace_top_nav > li:first-child > a > span > i.fa-home { display: inline-block; width:33px; height:33px; font-size: 16px; line-height: 33px; text-align: center; border-radius: 50%; margin-right:-10px; }

.godgrace_header_donate_btn { float:right; }
.godgrace_header_donate_btn a { display: block; width:auto; padding:0 25px; text-decoration: none; padding:0 25px; background:rgba(0,0,0,0.1); }
.godgrace_header_donate_btn a:hover { background:rgba(0,0,0,0.2); }

/* 4.2 Dropdown ---------------------------------------------- */

ul.godgrace_top_nav li ul { position: absolute; width:200px; top:0; left:0; padding:0; margin:0; line-height: 20px; visibility: hidden; opacity: 0; display: none; z-index: 6; box-shadow:0px 0px 15px rgba(0, 0, 0, 0.1); margin-left:0px; }
ul.godgrace_top_nav li.godgrace_menu_hover > ul { visibility: visible; }
ul.godgrace_top_nav li ul ul { left:100%; margin-left: 0px; margin-top:0; }

ul.godgrace_top_nav li:hover > ul { -moz-transition: opacity .3s ease-in-out; -webkit-transition: opacity .3s ease-in-out; transition: opacity .3s ease-in-out; }
ul.godgrace_top_nav li:hover > ul { opacity: 1; visibility: visible; display: table; }
ul.godgrace_top_nav li:hover { visibility: inherit; }

ul.godgrace_top_nav li ul,
ul.godgrace_top_nav li.godgrace-mega-menu > ul { display: table; }
ul.godgrace_top_nav li.godgrace-mega-menu > ul > li { display: table-cell; }

ul.godgrace_top_nav li ul li a span { padding:8px 22px; margin:0; display: block;  text-decoration: none; }
ul.godgrace_top_nav li ul li:first-child a span,
ul.godgrace_top_nav li ul li li:first-child a span { border-top:0; }
ul.godgrace_top_nav > li > ul li { float:left; width:100%; }
ul.godgrace_top_nav li > ul { top:100%; padding:15px 0; }

ul.godgrace_top_nav li li { padding: 0; margin:0; position: relative; }
ul.godgrace_top_nav li li ul { top:auto; top:0; position: absolute; }

ul.godgrace_top_nav > li:last-child:not(.godgrace-mega-menu) ul ul { left:auto; right:100%; margin-left: 0px; }
ul.godgrace_top_nav > li > ul,ul.godgrace_top_nav > li.godgrace-mega-menu > ul { border:0; border-top:0px solid; }
ul.godgrace_top_nav li ul { padding:0px; display: block; margin-top:0; }
ul.godgrace_top_nav li ul ul { margin-top: 0px;}
ul.godgrace_top_nav li li:first-child { border-top:0; }

/* 4.3 Item Space ---------------------------------------------- */

ul.godgrace_top_nav > li:not(.godgrace-mega-menu) > ul li { padding-top:5px; padding-bottom:5px; }
ul.godgrace_top_nav > li.godgrace-mega-menu ul li { padding-top:5px; padding-bottom:5px; }

/* Hover Effects ---------------------------------------------- */

ul.godgrace_top_nav li ul,ul.godgrace_top_nav li ul li ul { border-bottom:1px solid #000;   }
ul.godgrace_top_nav > li:not(.godgrace-mega-menu) ul > li > a span:before,
ul.godgrace_top_nav > li:not(.godgrace-mega-menu) ul > li > a span:after { content:''; position: absolute; width:0; height:16px; top:15px; left:0; background:rgba(0,0,0,0.5); }
ul.godgrace_top_nav > li:not(.godgrace-mega-menu) ul li a span:after { left:auto; width:0; right:-99999px; }
ul.godgrace_top_nav > li:not(.godgrace-mega-menu) ul li:hover > a span:before,
ul.godgrace_top_nav > li:not(.godgrace-mega-menu) ul ul > li:hover > a span:before,
ul.godgrace_top_nav > li:not(.godgrace-mega-menu) ul ul ul > li:hover > a span:before,
ul.godgrace_top_nav > li:not(.godgrace-mega-menu) ul ul ul ul > li:hover > a span:before,
ul.godgrace_top_nav > li:not(.godgrace-mega-menu) ul li:hover > a span:after,
ul.godgrace_top_nav > li:not(.godgrace-mega-menu) ul ul > li:hover > a span:after,
ul.godgrace_top_nav > li:not(.godgrace-mega-menu) ul ul ul > li:hover > a span:after,
ul.godgrace_top_nav > li:not(.godgrace-mega-menu) ul ul ul ul > li:hover > a span:after { width:4px;  }
ul.godgrace_top_nav > li:not(.godgrace-mega-menu) ul li:hover > a span { padding-left:15px;  }

/* 4.4 Mega Menu ---------------------------------------------- */

ul.godgrace_top_nav li.godgrace-mega-menu { position: inherit; text-align: left; }
ul.godgrace_top_nav li.godgrace-mega-menu > ul { padding:0; position: absolute !important; margin:0; width:100%; top:100%; }
ul.godgrace_top_nav li.godgrace-mega-menu ul li { border:0; }
ul.godgrace_top_nav li.godgrace-mega-menu > ul li li:hover a { padding-left: 5px; }
ul.godgrace_top_nav li.godgrace-mega-menu > ul li li a { padding-left:0; }
ul.godgrace_top_nav li.godgrace-mega-menu > ul > li > a:first-child span { padding-top: 25px; }
ul.godgrace_top_nav li.godgrace-mega-menu > ul > li > ul > li:last-child { margin-bottom: 25px; }
ul.godgrace_top_nav li.godgrace-mega-menu > ul > li > ul > li { padding-right: 5px; }

ul.godgrace_top_nav li.godgrace-mega-menu > ul > li { margin: 0; float: left!important; display: block !important; width:25%; padding:5px 1% 0 1%; }
ul.godgrace_top_nav li.godgrace-mega-menu ul li a { padding:0; border:0; display: block; }
ul.godgrace_top_nav li.godgrace-mega-menu ul li a span { border:0;padding-left: 20px; padding:6px 0; }
ul.godgrace_top_nav li.godgrace-mega-menu > ul > li > a:first-child span { margin-bottom: 8px; padding-left: 20px; cursor: default; }
ul.godgrace_top_nav li.godgrace-mega-menu > ul > li:first-child {  border:0;  }
ul.godgrace_top_nav li.godgrace-mega-menu.no-title > ul > li > a { display: none; }

ul.godgrace_top_nav li.godgrace-mega-menu li > ul { padding: 0 0 0 20px; margin:0; border:none; left: auto; top: auto; position: relative; visibility: visible; opacity: 1; display: none; padding-left: 20px; width:100%; float:none; }
ul.godgrace_top_nav li.godgrace-mega-menu:hover li ul { opacity: 1 !important; visibility: visible !important; display: block; }
ul.godgrace_top_nav li.godgrace-mega-menu .sub-menu li:hover { background:none; }


/* 4.5 Arrow After Before ---------------------------------------------- */

ul.godgrace_top_nav li.godgrace-mega-menu .menu-item-has-children > a:first-child:after { display: none; }
ul.godgrace_top_nav li.godgrace-mega-menu > ul li > a span,
ul.godgrace_top_nav li.godgrace-mega-menu > ul li > a { position:relative; }
ul.godgrace_top_nav li.godgrace-mega-menu > ul li > a:before {  content:''; position:absolute; left:0; top:0; width:100%; height:100%; padding:5px; display:block; z-index:0; margin-left:-7px; border-radius:2px;}
ul.godgrace_top_nav li.godgrace-mega-menu > ul > li > a:first-child:before { display:none; }

/* 4.6 Mobie Menu ---------------------------------------------- */

#godgrace_mobi_nav ul.godgrace_top_nav { display: none; z-index: 999999; }

#godgrace_mobi_nav #godgrace_mobi_nav_btn { font-size: 16px; text-align: center; display: inline-block; cursor: pointer; font-family: "Font Awesome"; top:50%;  left:0; float:left; width:45px; } 

#godgrace_mobi_nav { width:auto; position: absolute; top:50%; left:0; margin-top: -18px; display: none; } 
#godgrace_mobi_nav a { text-decoration: none; }
#godgrace_mobi_nav > ul { position: absolute; left:0; top: 36px; overflow: hidden; box-shadow:0px 0px 15px rgba(0, 0, 0, 0.1); border-bottom:1px solid; }
#godgrace_mobi_nav ul,#godgrace_mobi_nav ul li {width: 250px; display: block; margin:0; padding:0;}
#godgrace_mobi_nav ul { display: none; text-align: left;  }

#godgrace_mobi_nav ul li { border-bottom:1px solid rgba(0,0,0,0.1);  }
#godgrace_mobi_nav ul li:last-child { border:0; }
#godgrace_mobi_nav ul li ul li span { padding-left: 15px; }
#godgrace_mobi_nav ul li ul li:first-child { border-top:1px solid rgba(0,0,0,0.1); }
#godgrace_mobi_nav ul li i { margin-right: 5px; }
#godgrace_mobi_nav > ul > li > a {padding: 12px 15px; } 
#godgrace_mobi_nav > ul > li > a > span { padding-left: 8px; }
#godgrace_mobi_nav ul li a {width: 100%; border-bottom: 0; padding: 12px; line-height: 20px; display: block; } 

#godgrace_mobi_nav ul ul li a {padding-left: 25px; } 
#godgrace_mobi_nav ul ul ul li a {padding-left: 35px; } 
#godgrace_mobi_nav ul ul ul ul li a {padding-left: 45px; }
#godgrace_mobi_nav ul ul ul ul ul li a {padding-left: 55px; }
#godgrace_mobi_nav ul ul ul ul ul ul li a {padding-left: 65px; }

#godgrace_mobi_nav  ul li.godgrace-has-sub-menu > a {padding-right: 45px; }

#godgrace_mobi_nav .godgrace-mini-menu-arrow {position: absolute; right: 0; top: 0; display: block;  height: 44px; width: 44px; cursor: pointer; font-family: "Font Awesome"; text-align: center; line-height: 44px; } 
#godgrace_mobi_nav .godgrace-mini-menu-arrow i { line-height: 44px; font-size: 14px; }
#godgrace_mobi_nav ul li ul li .godgrace-mini-menu-arrow { padding-left:5px; }

#godgrace_mobi_nav ul.godgrace-nav-cat-posts li a { padding-left: 12px; }
#godgrace_mobi_nav ul.godgrace-nav-cat-posts li a.godgrace_nav_p_img { padding-bottom: 0; }

.godgrace_container #godgrace_mobi_nav ul li { margin-left:0; position: relative; }
#godgrace_mobi_nav > ul > li:first-child { border-top:0; }

#godgrace_mobi_nav ul li,#godgrace_mobi_nav li:hover { background:#fff; }

#godgrace_mobi_nav > ul > li > a > span > i.fa-home { font-size: 18px; }

/* 4.7 Sticky Header ---------------------------------------------- */

.godgrace_logo_image a { display: inline-block; }

@media only screen and (min-width: 768px) { 
	#godgrace_Header.sticky-on {position: fixed; width: 100%; left: 0; top: -48px; height: 48px; font-size: 14px; z-index: 999; }
	#godgrace_Header.sticky-on img.swm-std-logo { display: none; }
	#godgrace_Header.sticky-on img.swm-sticky-logo { display: block; width:auto !important; image-rendering: auto }
	#godgrace_Header.sticky-on { min-height: 0; }
	#godgrace_Header.sticky-on ul.godgrace_top_nav > li > a > span { line-height: 48px; }
	img.swm-sticky-logo { display: none; }
	.godgrace_l_boxed #godgrace_Header.sticky-on { left:auto; }
	/*.godgrace_l_boxed #godgrace_Header.sticky-on .godgrace_logo_menu_holder { overflow: hidden; }*/
	#godgrace_Header.sticky-on .godgrace_logo_section { display: none; }

}

/* ---------------------------------------------- 
 	5. Sub Header
---------------------------------------------- */

#godgrace_sub_header { position: relative; padding:20px 0; text-align: center; }

.godgrace_sub_header_title,h1.godgrace_sub_header_title { margin:0; padding:0; line-height: normal; position: relative; display: block; }


/* 5.1 Breadcrumbs ---------------------------------------------- */

.godgrace_breadcrumbs_container { position: relative; margin-top:5px; }
.godgrace_breadcrumbs { padding:5px 12px; display:inline-block; position: relative; text-align: center; z-index: 2; font-weight:bold; border:2px solid rgba(255,255,255,0.15); line-height: normal; }
.godgrace_breadcrumbs a { text-decoration: none;  }
.godgrace_breadcrumbs a:hover { opacity: 0.8; }
.godgrace_breadcrumbs span.godgrace_bc_sep {  width:20px; text-align: center; padding:0 7px; }
.godgrace_breadcrumbs .fa-home { margin-right: 3px; }

/* 5.2 Z-indexes ---------------------------------------------- */

.godgrace_logo { z-index: 2; }
.godgrace_nav { z-index: 11; }
	ul.godgrace_top_nav li ul { z-index: 9998; }
		ul.godgrace_top_nav li li ul { z-index: 1000; }

#top_mini_nav { z-index: 3; }
#godgrace_mobi_nav_btn { z-index: 999991; } 
#godgrace_mobi_nav .godgrace-mini-menu-arrow { z-index: 99; }

#godgrace_sub_header { z-index: 1; }

.godgrace_logo_menu_header { z-index: 9;}

/* 5.3 Google map - Revolution slider ---------------------------------------------- */

.godgrace_header_google_map,.godgrace_header_slider { margin-bottom: -19px; }
.home.blog .godgrace_header_google_map,.home.blog .godgrace_header_slider,.home.blog #godgrace_sub_header { margin-bottom:0; }
.godgrace_header_googlemap_title { font-size: 170%; padding:10px; }
.godgrace_header_googlemap_info { line-height: 20px;  padding:0 10px 10px; font-size: 80%;  }

/* ---------------------------------------------- 
 	6. Sidebar
---------------------------------------------- */

.sidebar { display: block; padding:0; }
.sidebar a { text-decoration: none; position: relative; }

.godgrace_widget_box { position: relative; display: block; clear:both; width:100%; position: relative; float: left; }

.sidebar .godgrace_sidebar_ttl { position: relative;  margin-bottom: 25px; }
.sidebar .godgrace_sidebar_ttl > span {position: absolute;	width:45px; height:100%; display: block; text-align: center; z-index: 2;  }
.sidebar .godgrace_sidebar_ttl > span span { position: relative; width:100%; height:100%; display: block; }
.sidebar .godgrace_sidebar_ttl > span span:after,.sidebar .godgrace_sidebar_ttl > span span:before { content:''; display: block; position: absolute; z-index: 3; left:50%;  }
.sidebar .godgrace_sidebar_ttl > span span:after { top:19px; margin-left:-6px; width:13px; height:3px; }
.sidebar .godgrace_sidebar_ttl > span span:before { top:14px; margin-left:-1px; width:3px; height:19px; }

.sidebar .godgrace_sidebar_ttl h3 { line-height: 1em; display: block; min-height: 40px; position: relative; padding:8px 20px 7px 60px; margin:0; background:#f1f1f1; border-bottom:1px solid rgba(0,0,0,0.1);  }
.sidebar .godgrace_sidebar_ttl h3 span { display: block; width:100%; height:100%; }

.sidebar .godgrace_widget_content > ul,.sidebar .godgrace_widget_content ul.menu { list-style: none; }

.godgrace_widget_content { width:100%; display: block; padding:0; }

.sidebar p { line-height: 1.8em; }
.sidebar ul li { border-bottom: 1px solid; margin:0; padding: 9px 0; display: block; line-height: 1.8em; }

.sidebar ul li ul { padding:0; }
.sidebar ul li ul li { border:0; padding:5px 0 5px 10px; }
.sidebar ul li ul li:first-child { border:0; }
.sidebar .godgrace_widget_box,.sidebar .godgrace_fb_subscribe_wid { margin-bottom:50px; }

.sidebar .godgrace_list_widgets ul li { padding-left:25px; position: relative; }
.sidebar .godgrace_list_widgets { display: block; clear:both; }
.sidebar .godgrace_list_widgets ul li:before { content:'\f105'; position: absolute; top:9px; left:9px; width:4px; height:4px; display: block; border-radius: 50%; font-family: fontAwesome;  }
.sidebar .godgrace_list_widgets ul li ul li:before { top:5px; left:0; }
.sidebar .godgrace_list_widgets .godgrace_widget_box .godgrace_widget_content > ul > li:first-child:before { top:0px; }
.sidebar .godgrace_list_widgets .godgrace_sidebar_ttl { margin-bottom:15px; }

.sidebar .godgrace_list_widgets .godgrace_widget_box .godgrace_widget_content > ul > li:first-child { padding-top:0; }
.sidebar .godgrace_list_widgets ul li:last-child { border:0; padding-bottom:0; }

.sidebar .godgrace_list_widgets ul li ul li { padding-left: 15px; }
.sidebar .godgrace_list_widgets ul li:before { left:10px; }

/* ---------------------------------------------- 
 	7. Footer
---------------------------------------------- */

/* 7.1 Widget Footer ---------------------------------------------- */

.footer { margin:0 auto; position: relative; padding:0; clear:both; background-position: center center; }

.godgrace_large_footer { padding:30px 0 0 0; }

.godgrace_footer_bg {  float:left; width:100%; text-align: center;  }

.godgrace_footer_widget { margin-bottom: 40px; text-align: left; }

.godgrace_footer_widget h3 { position: relative; margin-bottom: 25px; }

.footer ul { padding:0; margin:0; }
.footer ul li { position: relative; padding:0 0 4px 0; margin-left: 0;  }
.footer ul li i { margin-right: 5px; }
.footer ul li a { text-decoration: none; }
.footer ul li:first-child { margin-top: 0; padding-top: 0;  }
.footer ul li:last-child { border-bottom:0; }
.footer ul ul { padding-left: 5px; margin: 15px 0 0px 10px;}
.footer ul ul li { border:0; padding: 3px 0 3px 0;}

.footer input,.footer textarea { background: none; }
.footer select { margin:0; width:100%; background: none;  line-height: normal; padding:10px 12px; }

.tagcloud a { border:1px solid; }

/* 7.2 Small Footer ---------------------------------------------- */

.godgrace_small_footer { position: relative; display: block; width:100%; height:auto; display: block; border-top:1px solid rgba(255,255,255,0.1); }
.godgrace_small_footer_holder { display: block; width:100%; height:auto; padding:22px 0; }

.footer .godgrace_footer_copyright p { font-size: 14px; margin:0; }
.godgrace_footer_copyright a { text-decoration: none; }

#godgrace_go_top_scroll_btn { position: absolute; top:0; left:50%; margin-top:-20px; margin-left:-20px;  width:41px; height:41px; line-height: 37px; border-radius:50%; border:2px solid rgba(255,255,255,0.1); font-size: 18px; display:block; text-align: center; cursor: pointer; }

.footer .godgrace_small_footer ul.godgrace_small_footer_sm_icons li { border:0; margin:0 3px; padding:0; display: inline-block; float:left; width:30px; height:30px; text-align: center; }

.footer .godgrace_small_footer ul.godgrace_small_footer_sm_icons li a { opacity: 0.8; width:30px; height:30px; display: block; }
.footer .godgrace_small_footer ul.godgrace_small_footer_sm_icons li a i { margin:0; font-size:17px; }

.footer .godgrace_small_footer ul.godgrace_small_footer_sm_icons li:hover a { opacity: 1; }
.footer .godgrace_small_footer ul { display:block;}

/* 7.3 Contact Footer ---------------------------------------------- */



.godgrace_footer_contact_bar_holder {  display: block; position: relative; width:100%; }

.godgrace_footer_contact_bar_holder .godgrace_row { margin:0; }
.godgrace_footer_contact_bar .godgrace_column { position: relative; margin-top:-58px; min-height:115px; }
.godgrace_footer_contact_bar .godgrace_column_gap { padding:20px 20px 20px 70px; }
.godgrace_footer_contact_bar span { display: block; z-index: 3; position: relative; }
.godgrace_footer_contact_bar span.godgrace_footer_cb_icon { position: absolute; margin-top:-28px; top:50%; left:0; display: block; width:50px; height:57px; line-height:57px; text-align: center; border-radius:0 30px 30px 0; background:rgba(0,0,0,0.15); font-size: 20px; z-index: 3; }
.godgrace_footer_cb_icon i { margin-left:-5px; }
.godgrace_footer_cb_title { font-weight:bold; }
.godgrace_footer_cb_text { line-height:20px; }

.godgrace_footer_cb_opacity:before { content:''; position: absolute; left:0; top:0; width:100%; height:100%; display: block; z-index: 2; }
.godgrace_footer_cb_10:before { background:rgba(0,0,0,0.10); }
.godgrace_footer_cb_30:before { background:rgba(0,0,0,0.30); }

/* --------------------------------------------- 
 	8. Blog
---------------------------------------------- */

.godgrace_post_image img, .godgrace_post_image { display: block; position: relative; z-index: 3; text-align: center;  }
.godgrace_post_image { padding:0;  display: block; }
.godgrace_post_image img { margin:0 auto; }

.godgrace_post_image span.godgrace_pf_icon_box { position: absolute; z-index: 4; top:25px; right:25px; width:46px; height:46px; line-height: 46px; text-align: center; display: block; border-radius: 50%; background:rgba(255,255,255,0.8); }

.format-gallery .godgrace_post_image .godgrace_tile_gallery ul li span { display: none; }

.godgrace_post_content {  position: relative; min-height:100px;  height:100%; margin-bottom: 70px; clear:both;  }
.single .godgrace_post_content { margin-bottom: 0px; }

.godgrace_post_content_block { position: relative; display: block; }

body:not(.single-post) .godgrace_blog_post.post-sticky.godgrace_blog_post .godgrace_post_text { border:1px solid rgba(0,0,0,0.1); padding:20px 25px 28px 25px; }
body:not(.single-post) .godgrace_blog_post.post-sticky.godgrace_blog_post .godgrace_post_meta { margin:0; }

/* 8.1 Author ---------------------------------------------- */

.godgrace_post_author_avatar { width:75px; height:75px;  border-radius: 100px; position: absolute; margin: 0 auto -35px -35px; left:50%; text-align: center; bottom:0; }
.godgrace_post_author_avatar img { width:75px; height:75px; border-radius: 100px; border:4px solid; }

.godgrace_post_divider,.godgrace_meta_bottom_divider { height:4px; border-top:1px solid; border-bottom:1px solid; width:150px; margin:20px auto 15px; display: block; }

/* 8.2 Title Section ---------------------------------------------- */

.godgrace_post_title_section { padding:0; overflow: hidden; position:relative; }
.godgrace_post_title h1,.godgrace_post_title h2 { margin-bottom:0; word-wrap: break-word; line-height: normal; }
.godgrace_post_title { padding:15px 70px 10px 20px; overflow: hidden; }
.godgrace_post_comment_hide .godgrace_post_title { padding-right:20px; }
span.godgrace_post_meta_comments {position: absolute; right:20px; top:15px; display: block; font-size:14px; font-weight:bold; }
span.godgrace_post_meta_comments i { margin-right:5px; }

.godgrace_post_date { float:left; display: inline-block;  position:relative;  }
.godgrace_post_date_holder { display: block; padding:15px 25px 15px 20px; position: relative; margin-right:25px; }
.godgrace_post_date:after { content:''; position:absolute; top:0; right:0; width:1px; height:500px; display: block; background:rgba(0,0,0,0.1);  }
.godgrace_post_date_day { float:left; font-size:36px; margin-right:10px; }
.godgrace_post_date_month,.godgrace_post_date_year { font-size:90%; display: block; white-space:nowrap; line-height:16px; text-transform:uppercase; font-weight:bold; min-width:30px; }
.godgrace_post_date_year { font-size:80%; }

/* 8.3 Meta ---------------------------------------------- */

.godgrace_post_title_meta { position: relative; display: block; margin:0; z-index: 5; padding:0;  margin:0; }
.godgrace_post_meta,.godgrace_post_meta a { color:#5e5e5e; }
.godgrace_post_meta a:hover { color:#222; }

.godgrace_post_meta { position: relative; padding:8px 20px 5px 18px; font-size: 85%; font-weight: normal; display:block; margin:0 0 25px 0; overflow: hidden; background:rgba(0,0,0,0.06); }
.godgrace_post_meta ul { margin:0; padding:0 0 0 5px; display: block;  width:100%; }
.godgrace_post_meta ul li {  margin:0 18px; list-style: none; display: inline-block; line-height: normal; padding:0; }
.godgrace_post_meta ul li i { width:22px; margin-left: -22px; text-align: left; }
.godgrace_post_meta ul li a { text-decoration: none; display: inline-block; }
.godgrace_post_meta ul li i.fa-clock-o { margin-right:-3px; }
.godgrace_post_meta ul li.godgrace_post_meta_date { display: none; }

.godgrace_post_category { text-align: center; text-transform: uppercase; font-weight: bold; }
.godgrace_post_category_sep { display: block; text-align: center; font-size: 5px; margin:2px 0 5px; }
.godgrace_post_category_sep i { margin:0 2px; color:rgba(0,0,0,0.18);}

.godgrace_post_bottom_meta { margin:10px 0 50px; display: block; clear:both; }

.godgrace_post_tags { display: inline-block; float:left; margin-top: 7px; }
.godgrace_post_tags i { font-size: 14px; float:left; margin-right: 8px; line-height: 20px;  margin-top: 3px; }
.godgrace_post_tags a { display: inline-block; font-size: 80%; background:transparent; border:1px solid rgba(0,0,0,0.15); text-decoration: none; padding:3px 10px; float:left; margin:0 4px 4px 0; line-height: 20px; }
.godgrace_post_tags a:hover { border-color:rgba(0,0,0,0.05); }
.godgrace_post_summary { margin:0 0 25px 0; }

.godgrace_post_button { position: relative; display: block; clear:both; margin:0; width:auto; }
.godgrace_post_button a { width:auto; font-size:85%; display: inline-block; height:37px; line-height: 35px; padding:0 26px; margin:0; border:1px solid rgba(0,0,0,0.1); font-weight: bold; letter-spacing:0.5px;  }

.format-video .godgrace_blog_whitebox_border, .format-audio .godgrace_blog_whitebox_border { display:none; }
.format-video .godgrace_post_title_meta, .format-audio .godgrace_post_title_meta { margin-top:-2px; }

/* 8.4 Quote ---------------------------------------------- */

.godgrace_pf_quote { overflow: hidden; }
body:not(.single) .godgrace_only_quote_text.godgrace_blog_post.format-quote .godgrace_post_content_block { display: none; }
body:not(.single) .godgrace_only_quote_text .godgrace_post_content { margin-bottom: 80px; }
body:not(.single) .godgrace_blog_grid.godgrace_only_quote_text .godgrace_post_content {margin-bottom: 70px; }
.single .format-quote .godgrace_pf_quote_text { padding-bottom: 30px; }

.godgrace_posts_list { position: relative; }

.godgrace_post_masonry .godgrace_posts_list .godgrace_row {  margin:0 -13px;  }
.godgrace_post_masonry .godgrace_posts_list .godgrace_column_gap { margin:0; padding:0 13px; }

.godgrace_post_title h2 a { text-transform: none; }
.godgrace_blog_post .godgrace_column_gap { margin:0; }
.godgrace_post_image iframe,.godgrace_post_image audio { display: block; }

.godgrace-love .fa-heart { display: none; }
.godgrace-love.loved .fa-heart-o { display: none; }
.godgrace-love.loved .fa-heart { display: inline-block; }

.godgrace_post_ad { display: block; clear:both; position: relative; }
.godgrace_post_ad img { max-width: 100%; width:100%; }

/* 8.5 Blog Style Grid ---------------------------------------------- */

.godgrace_blog_grid .godgrace_post_title { text-align:center; padding:10px 15px; }
.godgrace_blog_grid .godgrace_post_meta ul { text-align: center; padding:0; }

.godgrace_blog_grid .godgrace_post_meta ul li.godgrace_post_meta_date { display: inline-block; }
.godgrace_blog_grid .godgrace_post_meta ul li span.likeviewshide { display: none; }
.godgrace_blog_grid .godgrace_post_meta ul li:last-child { margin-right:0; }


.godgrace_global_image_overlay:hover .godgrace_blog_grid_img .godgrace_slider_box .flex-direction-nav .flex-next { right:0; left:auto; }
.godgrace_global_image_overlay:hover .godgrace_blog_grid_img .godgrace_slider_box .flex-direction-nav .flex-prev { left:0; right:auto; }

/* 8.6 Grid Image Hover ---------------------------------------------- */

.godgrace_global_grid_hover { position: absolute; width:100%; height:0%; display: block; z-index: 2; bottom:0; left:0; opacity:0.8; margin-bottom:-100px; }
.godgrace_global_image_overlay:hover .godgrace_global_grid_hover { opacity: 0.8;width:100%; height:100%; margin-bottom:0;  }

.godgrace_global_grid_hover span i { font-size:32px; line-height:44px; }
.godgrace_global_grid_hover span { position: absolute; z-index: 3; display: block; bottom:50%; left:50%; text-align: center; width:44px; height:44px; margin-left: 0px; margin-bottom:-200px; opacity: 1; }
.godgrace_global_image_overlay:hover .godgrace_global_grid_hover span { margin-bottom:0; margin-left: -22px; margin-bottom: -22px;  }




/* 8.7 Tile Gallery ---------------------------------------------- */

.godgrace_tile_gallery { display: block; }
.godgrace_tile_gallery ul { padding:0; margin:0; }
.godgrace_tile_gallery ul li { padding:0; margin:0; width:25%; display: inline-block; position: relative; font-size: 0; float:left; padding-right: 1px; padding-bottom: 1px; }
.godgrace_tile_gallery ul li:first-child { width:100%; display: block; clear:both; padding-right: 0; }
.godgrace_tile_gallery ul li:nth-child(2) { clear:both; }
.godgrace_tile_gallery ul li:nth-child(2),.godgrace_tile_gallery ul li:nth-child(3) { width:50%; }
.godgrace_tile_gallery ul li:nth-child(3),.godgrace_tile_gallery ul li:nth-child(7) { padding-right: 0; }
.godgrace_tile_gallery ul li img { margin:0; padding:0; }

/* 8.8 Post Single Styles ---------------------------------------------- */


.godgrace_single_section { display: block; margin-top: 30px; clear:both; }
h5.godgrace_single_pg_titles,
#comments h3.comment-reply-title { display: block; position: relative; }
h5.godgrace_single_pg_titles span,
#comments h3.comment-reply-title span  { padding-right: 25px; z-index: 11; position: relative; }

/* 8.9 About author ---------------------------------------------- */

.godgrace_about_author { position: relative; clear:both; display: block; margin:0 0 0px 0; border:1px solid #e6e6e6; padding:30px; }
.godgrace_about_author img { float:left; margin: 0 20px 0 0; width:127px; height:127px; border-radius:50%;  }
.godgrace_about_author p { padding-left: 0; overflow: hidden; margin-bottom: 10px; }
.godgrace_about_author_biotext { overflow: hidden; }
.godgrace_site_content .godgrace_about_author h6 { margin:0 0 5px 0; font-size: 100%; text-transform: uppercase; font-weight: bold; }
.godgrace_about_author h6 a { text-decoration: none; }
.godgrace_author_page_box .godgrace_about_author { margin:0; }
body.author .godgrace_author_page_box .godgrace_content_wrap { width:100%; }
body.author .godgrace_about_author_box { padding:0; }
body.author .godgrace_about_author { padding:35px; }

.godgrace_site_content h5.godgrace_single_pg_titles { margin-bottom:  30px; }

#respond h3,.godgrace_single_pg_titles {  margin:0; }

.godgrace_author_page_box { margin-bottom: 50px; }
ul.godgrace_post_author_icon { padding:0; margin:0; }
ul.godgrace_post_author_icon li { float:left; list-style: none; padding:0; margin:0 10px 0 0; font-size: 15px; }
ul.godgrace_post_author_icon li a { color:#888; }

/* 8.10 Related Posts ---------------------------------------------- */

.godgrace_related_posts_wrap { clear:both; margin-bottom: 50px; }
.godgrace_related_posts ul { padding:0; margin:0 -1% 0 0; }
.godgrace_related_posts ul li { float:left; padding:0; margin:0 3.5% 0 0; width:30%; list-style: none; position: relative; }
.godgrace_related_posts ul li:last-child { margin-right: 0; }
.godgrace_related_link { margin:0; font-size: 100%; font-weight: bold; line-height:1.5em;  }
.godgrace_related_link a {  margin-bottom: 0; }
.godgrace_related_posts ul li img { height:auto; max-width: 100%; }

.godgrace_related_date_comment { display: block; clear:both; padding:4px 15px; text-align: center;font-size: 90%; margin-bottom:-1px;  }
.godgrace_related_date_comment span { margin:0 7px; }
.godgrace_related_date_comment span i { margin-right:5px; }
.godgrace_related_post_text { text-align: center; border:1px solid #f1f1f1; padding:15px 20px; }
.godgrace_related_post_text span { display: block; }

/* 8.11 Comments ---------------------------------------------- */

#comments,.godgrace_container p.godgrace_nocomments { padding:0 0 50px 0; clear:both; position: relative; }
#comment-wrap { position: relative; }
#comment-wrap > ol { margin-left: 0; }
#comment-wrap p { margin:0 0 15px 0;  }
#comments p.godgrace_nocomments { padding:0; clear:both; margin:0; border:0; }
#comments li.comment article.comment_body .comment_postinfo { padding:15px 20px; }
#comments ul ul.children li.comment,#comments ol.commentlist ul li.comment,#comments ol.commentlist ul.children { margin-bottom:0; margin:0; }
#comments li.comment article.comment_body .comment_postinfo:after {content:''; width:10px; height:10px; background:#fff; position:absolute; -moz-transform:rotate(135deg); -webkit-transform:rotate(135deg); transform:rotate(135deg); top:22px; left:-6px; border-right:#ddd solid 1px; border-bottom:#ddd solid 1px; }

.comment_body { position: relative; padding:0; margin:0; }
.comment_avatar {float:left; display: inline-block; margin-left: -70px; }
.comment_avatar img { display: inline-block; width:55px; height:55px; float:left; padding:4px; border:1px solid #e6e6e6; }
.comment_postinfo { position: relative; }
.comment_author { margin-right: 7px; text-transform: uppercase; font-size: 90%; }
.comment_author, .comment_author a { text-decoration: none; font-weight: 600; line-height:24px; margin-bottom: 10px; }
.comment_date { font-size: 80%; display:inline-block; line-height: 18px; text-transform: uppercase; padding-top: 2px; }
.comment_date i { margin-right: 5px; }
.comment_content {  padding:0 0 15px 70px; position: relative; float:left; z-index:1; width:100%;  }
.comment_text { padding-top: 5px; }

.godgrace_comment_reply { display: block; position: relative; float:right; font-weight: bold; }
#comments .godgrace_comment_reply a.comment-reply-link,#comments .godgrace_comment_reply a.comment-reply-login { padding:0 0 0 20px; display: inline-block; width:auto; text-decoration: none; font-size: 80%; line-height: 30px; cursor:pointer; margin-top:0; text-transform: uppercase; }
#comments .godgrace_comment_reply a.comment-reply-link i { margin-right: 5px; }
#comments .godgrace_comment_reply a.comment-reply-link { text-align: center; margin:0; opacity: 0.8; }
#comments .godgrace_comment_reply a.comment-reply-link:hover { opacity:1; }
#comment-wrap ol.commentlist li ul.children { padding-left: 40px; }
#comment-wrap ol { padding:0; margin:0; }
#comment-wrap ol li ul { padding-bottom: 0 }
#comment-wrap ol li.comment,#content #comment-wrap ol li.post.pingback { background:none; list-style: none; margin-left: 0; padding:0;  }
#comment-wrap ol > li.comment:first-child { border-top:0; padding-top: 0; }
#comment-wrap ol > li.comment:last-child .comment_content { padding-bottom: 10px;  }
#comment-wrap ol > li.comment:first-child .comment_content { padding-top: 0; }
#comments li.comment article.comment_body { padding:0; }

/* 8.12 Comment Form ---------------------------------------------- */

#respond { position: relative; clear:both; padding:0; }
#comments #respond:after,#comments #respond:before { display: none; }
#respond h3 { padding:0px; margin:0 0 30px 0; }
#respond h3 i { margin-right: 10px; }
#comments #respond h3 { border:0; margin:0; text-align: left; padding:0; }
#comments #respond h3 i { display: none; }
#comments #respond { padding:30px 0 10px 0px; border:0; width:100%; margin:0; }
#comments #respond #commentform { padding:0; border:0; }
#respond h3 small a#cancel-comment-reply-link { display:block; text-decoration: none; font-size: 75%; padding: 5px 0 10px 0; color:red; }
#respond .form-allowed-tags,#respond p.comment-notes { display:none; }
#comments #respond h3.comment-reply-title span:after,#comments #respond h3.comment-reply-title:after { display:none; }

#commentform { padding:0; }
#commentform label { clear:both; font-weight: normal; }
#commentform textarea#comment { width: 99%; clear:both; margin: 0 0 15px 0; height:150px; }
#commentform input[type=text] { width: 50%; float:left; display:inline-block; margin-right: 1%; clear:both; text-indent: 10px; }
#commentform input[type=text],input[type=password], #commentform textarea { font-size:90%; padding: 10px 0; margin-bottom: 15px;}
#commentform textarea { padding: 10px 2%;  }
#commentform p { width:auto; margin:0;  }
input[type=password] { margin-bottom: 0; display:inline-block; padding:12px; }
#commentform .hidden { display: none; }
input[type="submit"] { display: inline; font-weight: bold; }

#commentform p.comment-form-author,#commentform p.comment-form-email,#commentform p.comment-form-url { width:31%; float:left; margin-right: 3%; }
#commentform p.comment-form-author input[type=text],#commentform p.comment-form-email input[type=text],#commentform p.comment-form-url input[type=text]{ width:100%; }
#commentform p.comment-form-url { margin-right: 0; }
#commentform p.comment-form-comment { width:100%; float:left; }
#commentform p.form-submit { clear:both; margin-top:10px; display: inline-block; float:left; margin-bottom: 30px; }
#commentform p.form-submit input[type="submit"] { height:auto; padding:0 30px; }

.post-password-form input[type=password] { padding:6px 12px; }

/* 8.13 Post Single Next Prev Pagination ---------------------------------------------- */

.godgrace_post_single_pagination { display: block; clear:both;  margin:-1px 0 50px; text-transform: uppercase; font-size: 90%; font-weight: bold; border:1px solid #e6e6e6; padding:20px 15px; position: relative; overflow: hidden; }
.godgrace_pp_arrow { font-size: 20px; line-height: 28px; }
.godgrace_next_prev_box { float:left; width:49%; display: inline-block; }
.godgrace_pp_next { text-align: right; float:right; }
.godgrace_pp_link span { display: block; overflow: hidden;  }

.godgrace_pp_prev { padding-right:30px; }
.godgrace_pp_next { padding-left:30px; }

.godgrace_pp_prev .godgrace_pp_arrow { float:left; }
.godgrace_pp_next .godgrace_pp_arrow { float:right; }

.godgrace_pp_link_text { font-size: 90%; padding-bottom:1px; }
.godgrace_pp_prev .godgrace_pp_arrow { margin-right: 10px; }
.godgrace_pp_next .godgrace_pp_arrow { margin-left: 10px; }

.godgrace_next_prev_box a { width:100%; height:100%; }
.godgrace_next_prev_box:hover .godgrace_pp_arrow,
.godgrace_next_prev_box:hover .godgrace_pp_link_text  { opacity:1;  }

.godgrace_pp_view_all { position: absolute; top:50%; left:50%; width:40px; margin-left: -20px; margin-top: -20px; }
.godgrace_pp_view_all span { width:40px; height:40px; line-height: 40px; line-height: 38px; display: block; border:1px solid rgba(0,0,0,0.15); text-align: center;  border-radius: 50%; font-size: 18px; background:#fff; position: relative; z-index: 3;   }
.godgrace_pp_view_all:after { content:''; position: absolute; left:50%; margin-left: -1px; top:-200px; margin-bottom: -200px; height:1000px; width:1px; display: block; background:rgba(0,0,0,0.1); z-index: 2;  }

/* ---------------------------------------------- 
 	9. Pagination
---------------------------------------------- */

.godgrace_pagination_wrap { width:auto; margin:0 auto 30px; text-align: center; }
.godgrace_pagination { width:auto;  display: block; }

.godgrace_pagination a,.godgrace_pagination .page-numbers.current,
#comments .godgrace-paginate-com a,#comments .godgrace-paginate-com span, .godgrace_pagination_menu > a,.godgrace_pagination_menu > span { text-align: center; border-radius: 50%; margin:0; display: inline-block; width:36px; height:36px; line-height: 34px; }
.godgrace_pagination .page-numbers.current { font-weight: bold; }

.godgrace_pagination a.prev.page-numbers,.godgrace_pagination a.next.page-numbers { position:relative; border-radius: 3px; display: inline-block; width:36px; height:36px; line-height: 34px; }

.godgrace_pagination a,.godgrace_pagination .page-numbers.current,.godgrace_pagination a.prev.page-numbers,.godgrace_pagination a.next.page-numbers,
#comments .godgrace-paginate-com span, .godgrace_pagination_menu > a,.godgrace_pagination_menu > span { width:36px; height:36px; border-radius: 50%; text-align: center; line-height: 34px; font-size: 90%; }

/* 9.1 Comments and Post Content Pagination ---------------------------------------------- */

#comments .godgrace-paginate-com,.godgrace_pagination_menu { margin-top: 30px; }
#comments .godgrace-paginate-com span.page-numbers.current, .godgrace_pagination_menu > span { font-weight: bold; }

/* 9.2 Next-Previous Posts ---------------------------------------------- */

.godgrace_next_prev_pagination { font-weight: bold; font-size: 90%; clear:both; display: block; }
.godgrace_container .godgrace_next_prev_pagination a,.godgrace_next_prev_pagination a { padding:8px 15px; border-radius: 5px; text-transform: uppercase; letter-spacing: 1px; }
.godgrace_next_prev_pagination a:hover { text-decoration: none; }
.godgrace_next_prev_pagination .post-prev { float: left; }
.godgrace_next_prev_pagination .post-prev span { margin-right: 5px; }
.godgrace_next_prev_pagination .post-next { float: right; text-align: right; }
.godgrace_next_prev_pagination .post-next span { margin-left: 5px; }

/* 9.3 Infinite Scroll ---------------------------------------------- */

.godgrace_infiniteScroll_loader { position: absolute; bottom: 30px; left: 50%; margin-left: -30px; height: 24px; line-height: 24px; width: 30px; display: block; width:60px; height:60px; border-radius:5px; z-index: 999; overflow: hidden; }

.godgrace_infinite_scroll_style .godgrace_infiniteScroll_loader { bottom:-30px; }

#infscr-loading img { display: none !important }
.godgrace_infiniteScroll_pagination { display: none }
.godgrace_infiniteScroll_wrapper { position: relative; padding-bottom: 40px; }

.godgrace_infiniteScroll_pagination .godgrace_next_prev_pagination { display: none; }

.godgrace_infiniteScroll_loader_wrap { display: block; position: relative; width:100%; height:100%; z-index: 9998; }
.godgrace_infiniteScroll_loader_holder {animation: animate 1s linear infinite; z-index:9999; clip: rect(0, 32px, 32px, 16px); height: 32px; width: 32px; position: absolute; left: calc(50% - 16px); top: calc(50% - 16px); } 
@keyframes animate {0% {transform: rotate(0deg) } 100% {transform: rotate(220deg) } }
.godgrace_infiniteScroll_loader_holder:after {animation: animate2 1s ease-in-out infinite; clip: rect(0, 32px, 32px, 16px); content:''; border-radius: 50%; height: 32px; width: 32px; position: absolute; }

/* ---------------------------------------------- 
 	10. Search Page
---------------------------------------------- */

.godgrace_search_featured_img { float:left; margin-right: 25px; margin-top: 5px; }
.godgrace_search_featured_img img { width:150px; padding:2px; }
.godgrace_search_page_text { overflow: hidden; }

.godgrace_search_pg_subtitle { margin-bottom: 30px; }

ul.godgrace_search_list { padding:5px 0; margin:0 0 50px 0; }
ul.godgrace_search_list > li { list-style: none; margin:0 0 -1px 0; padding: 30px 30px 10px 30px; }
ul.godgrace_search_list > li h5 { margin:0; display: block; font-weight: bold;  }
ul.godgrace_search_list > li h5 span { display: block; opacity: 0.7; }
ul.godgrace_search_list > li h5 span i { margin-right: 5px; }

.godgrace_page_box_content.search_pg_form form { width:70%; }
.godgrace_page_box_content.search_pg_form { padding:30px; }

.godgrace_search_page_readmore { margin-top: -15px; }
.godgrace_search_page_readmore a { font-weight: bold; text-transform: uppercase; font-size: 85%; }
.godgrace_search_page_readmore a i { margin-left: 5px; }

/* 10.1 Meta ---------------------------------------------- */

.godgrace_search_meta { font-weight: normal; padding-bottom: 15px;  }
.godgrace_search_meta {  position:relative; margin:0; display: block; }
.godgrace_search_meta ul { padding:0; margin:0; }
.godgrace_search_meta ul li { list-style: none; display: inline-block; margin:0 9px 0 14px; padding:5px 0 0 0; font-size: 90%; opacity: 0.8; }
.godgrace_search_meta ul li:before { content:"\f111"; font-family: fontAwesome; font-size: 6px; margin-left: -14px; float:left; padding: 0; text-decoration: none; }
.godgrace_search_meta ul li:first-child:before { content: ""; margin-left:0; }
.godgrace_search_meta ul li:first-child { margin-left:0; }
.godgrace_search_meta ul li:last-child { margin-right:0; }

/* 10.2 No Result Text ---------------------------------------------- */

.godgrace_search_page_no_result_text { text-align: center;  }
h4.godgrace_no_search_result_title,.search-no-results h4.godgrace_search_pg_subtitle { text-align: center; display: block; clear:both; }
.godgrace_search_page_no_result_text form { display: inline-block; float:none; margin-top: 20px; position: relative; }
.godgrace_search_page_no_result_text form input[type="text"].godgrace_search_form_input { width:500px; position: relative; padding-left: 15px; }
.godgrace_search_page_no_result_text form button.godgrace_search_button { position: absolute; top:0; right:0; background:none; padding:12px 15px 12px 12px; line-height: 24px; height:24px; }

/* ---------------------------------------------- 
 	11. Archives Page
---------------------------------------------- */

.godgrace_container .godgrace_archives_content ul { padding:0; margin:0 0 50px 0; }
.godgrace_container .godgrace_archives_content ul li { list-style: none; padding:10px 0 10px 20px; margin:0; display: inline-block; width:100%; }
.godgrace_container .godgrace_archives_content ul li:first-child { border-top:0; }
.godgrace_container .godgrace_archives_content ul li span.godgrace_archive_page_date { min-width: 100px;  display: inline-block; opacity: 0.8; font-size: 90%; margin-right: 20px; }
.godgrace_container .godgrace_archives_content ul li span.godgrace_archive_page_titles {  display: inline-block; margin:0; }

/* ---------------------------------------------- 
 	12. Causes Page
---------------------------------------------- */

.godgrace_causes_box { margin-bottom: 40px; }

.godgrace_row.godgrace_causes_grid { margin:0 -20px; }
.godgrace_causes_box .godgrace_column_gap { padding:0 20px; }

.godgrace_cause_grid_box { text-align: center; } 
.godgrace_cause_img { position: relative; margin-bottom:2px; overflow: hidden; } 

.godgrace_cause_goalbox { display: block; clear:both; z-index:5; position: relative; } 
.godgrace_cause_goalbox span { font-weight: bold; line-height:normal; }

.godgrace_cause_content { display: block; border:4px solid #f1f1f1; padding:20px 25px 25px; }
.godgrace_cause_excerpt_off .godgrace_cause_content { padding:20px 25px 0; }
.godgrace_cause_excerpt_off .godgrace_goal_box { margin-bottom:0; border:0; }
.godgrace_global_image_overlay:hover .godgrace_global_grid_hover.godgrace_cause_grid_hover { opacity:1; }


.godgrace_cause_donate_button { position: absolute; top:50%; left:50%; display: block;  font-weight:bold; font-size:95%; opacity:0;  }
.godgrace_cause_donate_button a { position: relative; display: block; padding:5px 35px; z-index:4; color:#fff; }
.godgrace_cause_donate_button:after { position: absolute; content:''; top:0; left:0; display: block; transform: scale(1); width:100%; height:100%; background:#000; z-index:3; opacity:0.95; border-radius:30px; }
.godgrace_cause_donate_button:hover:after { opacity:1; transform: scale(1.2); }
.godgrace_causes_box:hover .godgrace_cause_donate_button { opacity:1; }

.godgrace_cause_bar { padding:0; position: absolute; left:0; bottom:0; z-index:2; width:100%; display: block;  }
.godgrace_cause_bar_in { position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; position:relative; display: block; }
.godgrace_cause_bar_out, .godgrace_cause_bar_in, .godgrace_cause_bar_block { display: block; }

.godgrace_cause_bar_block { position: relative;  height: 5px; background-color:#434343; }
.godgrace_cause_bar_out { position: absolute; top:0; left:0; height: 100%; width:30%; }
.godgrace_cause_bar_bubble_box { position: absolute; top:0; right:-50px; display: block; width:auto; height:32px; width:50px; text-align:center; font-size:90%; font-weight:bold; z-index:2; margin-top:-42px; }
.godgrace_cause_bar_bubble_box:after { content:''; position: absolute; left:0; bottom:-9px; width: 0; height: 0; border-top: 9px solid darkcyan; border-right: 9px solid transparent; border-bottom: 0 solid transparent; border-left: 0 solid transparent;  display: block; }

.godgrace_goal_near_reached .godgrace_cause_bar_bubble_box { right:0; }
.godgrace_goal_near_reached .godgrace_cause_bar_bubble_box:after { border-right-width: 0; border-left-width: 9px; left:auto; right:0; }
.godgrace_goal_near_reached .godgrace_cause_bar_in:after { margin-right:0px; }

.godgrace_cause_text { padding:0; } 
.godgrace_cause_title { border:4px solid #f1f1f1; display: block; margin-bottom:2px; padding:8px 15px; text-align:center; background:#fff; }

.godgrace_cause_title h4 a { font-size: 19px; } 
.godgrace_site_content .godgrace_cause_title h4 { line-height:27px; margin:5px 0; }

.godgrace_goal_box { display: block; border-bottom:1px solid #f1f1f1; margin:-20px -25px 20px; padding:12px 15px 15px 15px; position: relative;  }
.godgrace_goal_box span { display: block; }
.godgrace_goal_box_left { float:left; text-align: left;  }
.godgrace_goal_box_right { float:right; text-align:right;  }
.godgrace_cause_goalbox_text { opacity:0.7; font-size:90%; }
.godgrace_cause_goalbox_amount { font-size:160%; }

.godgrace_cause_readmore_button { display: block; clear:both; text-align: center; margin:0 0 -41px 0; }
.godgrace_cause_readmore_button a { text-decoration: none; width:auto; display: inline-block; height:30px; line-height: 30px; padding:0 16px; font-weight: bold; font-size: 100%; background:#fff; position: relative; }
.godgrace_cause_readmore_button a span { display: block; width:100%; height:100%; position: relative; }
.godgrace_cause_readmore_button a span:after, .godgrace_cause_readmore_button a span:before { content:''; position: absolute; display: block; width:11px; height:4px; top:50%; margin-top:-1px; }
.godgrace_cause_readmore_button a span:after { right:-27px; }
.godgrace_cause_readmore_button a span:before { left:-27px; }

.godgrace_causes_grid .godgrace_cause_excerpt { text-align:center; }

/*cause standard view*/
.godgrace_cause_standard_view .godgrace_cause_grid_title,.godgrace_cause_standard_title { display: none; }
.godgrace_cause_standard_view .godgrace_cause_title { text-align:left; }

.godgrace_cause_standard_view .godgrace_cause_content { border:0; float:left; width:60%; display: inline-block; text-align: left; padding:0 0 0 2px; }
.godgrace_cause_standard_view .godgrace_cause_content_standard_view { display: block; border:4px solid #f1f1f1; padding:20px 25px 11px; position: relative; }

.godgrace_cause_standard_view .godgrace_cause_standard_title { display: block; border:0; padding:8px 20px; }

.godgrace_cause_standard_view .godgrace_cause_img { float:left; width:40%; display: inline-block; }
.godgrace_cause_standard_view .godgrace_cause_readmore_button { margin:0 0 -16px 0; float:right; position: absolute; bottom:0; right:40px;  }

.godgrace_cause_standard_view .godgrace_causes_box { margin-bottom: 50px; }

.godgrace_goal_box:after { content:''; position: absolute; top:0; left:50%; width:1px; height:100%; background:#f1f1f1; display: block; }


/*12. 1 Cause Single Page ---------------------------------------------- */

.single .godgrace_cause_text { padding:20px 35px; text-align: left; } 
.single .godgrace_causes_box { margin-bottom:0; }
.single .godgrace_cause_bar_block { height: 7px; }
.single .godgrace_cause_standard_block { text-align:left; }

.godgrace_cause_single_content { border:4px solid #f1f1f1; padding:0; }
.godgrace_cause_single_content .godgrace_post_single_pagination { margin:0; border:0; border-top:1px solid #f1f1f1; }


.single .godgrace_cause_bar { position:relative; padding:0 35px; margin-bottom:15px; }
.single .godgrace_cause_bar_in:after { position: absolute; content:''; display:block; margin-top:-5px; top:50%; right:0; width:9px; height:9px; border-radius:50%; }


.single .godgrace_cause_bar_block { background:#f1f1f1; height:3px; }
.single .godgrace_cause_goalbox { display: block; padding:22px 35px; }
.single .godgrace_cause_goalbox ul { padding:0; text-align: left; margin:0; }
.single .godgrace_cause_goalbox ul:after { clear:both; content:''; display: block; }
.single .godgrace_cause_goalbox ul li { padding-left:52px; position:relative; }
.single .godgrace_cause_goalbox ul li span.godgrace_cause_goalbox_iconbox { position: absolute; top:50%; left:0; display: block; width:40px; height:40px; line-height:35px; text-align:center; border-radius:50%; font-size:15px; border:2px solid #f1f1f1; margin-top:-20px;  }
.single .godgrace_cause_goalbox_text { opacity:0.7; font-size: 85%; }

.single .godgrace_cause_goalbox ul li span { display: block; padding:0; }
.single .godgrace_cause_goalbox ul li span.godgrace_cause_goalbox_amount { font-size:115%; padding-bottom:0; }
.single .godgrace_cause_goalbox ul li { list-style: none; float:left; display: inline-block; margin:0 30px 0 0; position: relative; }
.single .godgrace_cause_goalbox ul li:last-child:after { display: none; }

.single .godgrace_cause_donate_single_button { margin:5px 0 0 0; background:none; display: block; }
.single .godgrace_cause_donate_single_button a { font-size: 90%; line-height:38px; padding:0 35px; }

.single .godgrace_cause_single_no_featured_img .godgrace_cause_goalbox { margin:10px 10px 40px 10px; }
.single .godgrace_cause_single_no_featured_img .godgrace_cause_goalbox_border { display: none; }

.godgrace_cause_single_sm_icons { border-top:1px solid #f1f1f1; display: block; padding:20px 20px 10px; }

/* ---------------------------------------------- 
 	13. Sermons Page
---------------------------------------------- */

.godgrace_sermons_box_holder { margin-bottom:60px; display: block; position: relative; clear:both; }

.godgrace_sermons_left { float:left; margin-right:35px; }
.godgrace_sermons_date_meta { margin-right:2px; float:left; }
.godgrace_sermons_date { width:203px; height:101px; display: block; text-align: center; background:#f1f1f1; margin-bottom:2px; font-weight:bold; white-space: nowrap; text-transform:uppercase; }
.godgrace_sermons_date_holder { display:inline-block; margin:30px auto 0; text-align: center; }
.godgrace_sermons_date_day { font-size:55px; font-weight:normal; float:left; line-height:40px; }

.godgrace_sermons_date_monthyear { overflow: hidden; display: block; float:left; }

.godgrace_sermons_date_full { display: none; font-size:85%; }
.godgrace_sermons_date_month,.godgrace_sermons_date_year { display:block; min-width:50px; line-height: normal; font-size:110%;  }
.godgrace_sermons_play_area { width:203px; height:101px; display: block; text-align: center; border:1px solid #f1f1f1; padding-top:25px; }
.godgrace_sermons_play_area a { width:50px; height:50px; display: inline-block; line-height: 50px; background:#f1f1f1; border-radius:50%; text-align:center; font-size:18px; margin:0 1px; }
.godgrace_sermons_play_area a:hover { background:#e9e9e9; }

.godgrace_sermons_featured_img { width:291px; height:204px; display: block; background-position: center center; background-size:cover; float:left;    }
.godgrace_sermons_featured_img_block { display: none; }
.godgrace_sermons_featured_img a { display: block; width:100%; height:100%; }

.godgrace_sermons_right { overflow: hidden; }
.godgrace_site_content .godgrace_sermons_right h4 { margin-bottom:5px; line-height:normal; }
.godgrace_sermons_meta { font-size:90%; margin-bottom:10px;  }
.godgrace_sermons_meta .godgrace_sermons_meta_separator { margin:0 5px; } 

.godgrace_sermons_readmore a { padding:0 25px; height:38px; line-height:36px; display: inline-block; text-transform:uppercase; font-weight:bold; font-size:90%; border-radius:30px; }

/*Sermons Grid Style*/

.godgrace_sermons_grid .godgrace_sermons_left { margin:0 20px 0 0; }
.godgrace_sermons_grid .godgrace_sermons_right { overflow: visible; }
.godgrace_sermons_grid .godgrace_sermons_date_full { display: block; }

.godgrace_sermons_grid .godgrace_sermons_date_day,
.godgrace_sermons_grid .godgrace_sermons_date_monthyear { display: none; }

.godgrace_sermons_grid .godgrace_sermons_date,
.godgrace_sermons_grid .godgrace_sermons_play_area { height:auto; padding:7px 20px; }

.godgrace_sermons_grid .godgrace_sermons_play_area { margin-bottom:2px; }
.godgrace_sermons_grid .godgrace_sermons_date_holder { margin:0; }
.godgrace_sermons_grid .godgrace_sermons_play_area a { width:30px; height:30px; line-height:30px; font-size:12px; }
.godgrace_sermons_grid .godgrace_sermons_featured_img { display: block; float:none; clear:both; max-width:200px; }
.godgrace_site_content .godgrace_sermons_grid .godgrace_sermons_right h4 { font-size:20px; text-align:center; }

.godgrace_sermons_grid .godgrace_sermons_right { clear:both; display: block; border:4px solid #f1f1f1; padding:20px 25px 25px; }
.godgrace_sermons_grid .godgrace_sermons_date, .godgrace_sermons_grid .godgrace_sermons_play_area, .godgrace_sermons_grid .godgrace_sermons_date_meta, .godgrace_sermons_grid .godgrace_sermons_featured_img { width:100%; margin-right:0; max-width:100%; }
.godgrace_sermons_grid .godgrace_sermons_featured_img { height:auto; background-size:0 0; position: relative; overflow: hidden; }
.godgrace_sermons_grid .godgrace_sermons_featured_img img { border-bottom:4px solid; }
.godgrace_sermons_grid .godgrace_sermons_featured_img_block { display: block; position: relative; z-index:1;  }
.godgrace_sermons_grid .godgrace_sermons_left { width:100%; margin:0 0 2px 0; float:none; display:block; }
.godgrace_sermons_grid .godgrace_sermon_excerpt,.godgrace_sermons_grid .godgrace_sermons_meta { text-align:center; }

.godgrace_sermon_readmore_button { display: block; clear:both; text-align: center; margin:0 0 -41px 0; }
.godgrace_sermon_readmore_button a { text-decoration: none; width:auto; display: inline-block; height:30px; line-height: 30px; padding:0 16px; font-weight: bold; font-size: 100%; background:#fff; position: relative; }
.godgrace_sermon_readmore_button a span { display: block; width:100%; height:100%; position: relative; }
.godgrace_sermon_readmore_button a span:after, .godgrace_sermon_readmore_button a span:before { content:''; position: absolute; display: block; width:11px; height:4px; top:50%; margin-top:-1px; }
.godgrace_sermon_readmore_button a span:after { right:-27px; }
.godgrace_sermon_readmore_button a span:before { left:-27px; }

/*Sermons Single Page*/
.godgrace_sermon_single_img { margin-bottom:2px; }

.godgrace_sermon_single_title_meta_section { border:1px solid #e6e6e6; margin-bottom:25px;  }

.godgrace_sermons_single_play_area { width:auto; height:auto; display: inline-block; text-align: center; border-right:1px solid #e6e6e6; padding:25px 23px; float:left; margin-right:-1px; }
.godgrace_sermons_single_play_area a { width:50px; height:50px; display: inline-block; line-height: 50px; background:#f1f1f1; border-radius:50%; text-align:center; font-size:18px; margin:0 1px; }
.godgrace_sermons_single_play_area a:hover { background:#e9e9e9; }
.godgrace_sermon_single_title_meta { border-left:1px solid #e6e6e6; padding:20px 23px; display: block; overflow: hidden; }
.godgrace_site_content .godgrace_sermon_single_title_meta h1 { font-size:27px; line-height: normal; margin:0 0 5px 0; }
.godgrace_sermons_single_meta { font-size:90%; }
.godgrace_sermons_single_meta .godgrace_sermons_meta_separator { margin:0 7px; }
.godgrace_sermons_single_meta span { float:left; line-height: normal; }

.godgrace_sermon_single_sm_icons { display: block; text-align: left; border:1px solid #e6e6e6; padding:20px 20px 10px 20px; margin-top:15px; }
.godgrace_sermon_single_sm_icons .godgrace_post_share_links { float:none; }
.godgrace_sermon_single_sm_icons ul.godgrace_post_share_icons_list li { background:#f1f1f1; border:0; color:#777; }

.godgrace_sermons_audioVideo { margin:0 0 2px 0; }
.sermonVideoAudio { display: block; clear:both; }
.godgrace_sermon_audio button { min-height:16px; }


/* ---------------------------------------------- 
 	13. Portfolio Pages
---------------------------------------------- */

.godgrace_portfolio { overflow: visible; position: relative; padding-bottom: 25px; }
.godgrace_pf_no_readmore .godgrace_portfolio_text { padding-bottom:0; }

.godgrace_portfolio.godgrace_row { margin:0 -12px; }
.godgrace_portfolio .godgrace_row .godgrace_column_gap { margin:0; padding:0 12px; }

.godgrace_portfolio_filter_menu_holder { text-align: center; }

.godgrace_portfolio_box { float:left; margin-bottom: 24px; display: block; clear:none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center;}

.godgrace_portfolio_content:hover .godgrace_portfolio_img_hovericon { opacity: 0.9; top:50%; }

.godgrace_portfolio_box a img { width:100%; height:auto; display:block; line-height: 0; font-size: 0;  overflow: hidden; opacity: 1; }
.godgrace_portfolio_box .godgrace_portfolio_thumb_img { position: relative; z-index:1; overflow: hidden; border-bottom:4px solid; margin-bottom:2px; }
.godgrace_pf_no_content.godgrace_portfolio_box .godgrace_portfolio_thumb_img { border:0; }

.godgrace_portfolio_box a span.godgrace_portfolio_thumb_img_span { position: relative; z-index:1; display: block; }


.godgrace_portfolio_text { clear:both; position: relative; padding:15px 20px 30px; border:4px solid #f1f1f1;  }
.godgrace_portfolio_text span.godgrace_portfolio_title,.godgrace_portfolio_text span.godgrace_portfolio_title a { font-weight: bold; }

.godgrace_portfolio_title_section { float: left; width:100%;  }
.godgrace_portfolio_title_section span { display: block; clear: both; }

.godgrace_portfolio_title { display: block; width:100%; position: relative; overflow: hidden; margin-top: -13px; }
.godgrace_portfolio_title span.godgrace_pf_only_title { font-weight: bold; padding:15px 0 20px 0; display: inline-block; }
span.godgrace_pf_only_title,span.godgrace_pf_only_title a { color:#202020; font-size: 18px; line-height: 27px; }

.godgrace_pf_has_noexcerpt .godgrace_portfolio_title { margin-top: -17px; }

.godgrace_portfolio_text span.godgrace_portfolio_subtexts { margin:-10px 0 20px; display: block; clear: both; }

.godgrace_portfolio > ul > li { display:inline-block; padding:0; margin:0; background: none; float: left; }

.godgrace_portfolio_img_hovericon { left:50%; top:0; margin-top: -25px; margin-left: -25px; width:50px; height:50px; border-radius: 50%; line-height: 50px; position: absolute; z-index: 100; text-align: center; opacity: 0;  display: block;  }

.godgrace_pf_readmore_button { display: block; clear:both; text-align: center; margin:0 0 -46px 0; }
.godgrace_pf_readmore_button a { text-decoration: none; width:auto; display: inline-block; height:30px; line-height: 30px; padding:0 16px; font-weight: bold; font-size: 100%; background:#fff; position: relative; }
.godgrace_pf_readmore_button a span { display: block; width:100%; height:100%; position: relative; }
.godgrace_pf_readmore_button a span:after, .godgrace_pf_readmore_button a span:before { content:''; position: absolute; display: block; width:11px; height:4px; top:50%; margin-top:-1px; }
.godgrace_pf_readmore_button a span:after { right:-27px; }
.godgrace_pf_readmore_button a span:before { left:-27px; }

/* 13.1 Horizontal Menu ---------------------------------------------- */

.godgrace_filter_menu_wrap { text-align: center; margin:0 auto; }
.godgrace_sermons_filter_menu { margin-bottom:60px; }
.godgrace_universal_3col_grid_section .godgrace_sermons_filter_menu { margin-bottom:20px; }

.godgrace_filter_menu,ul.godgrace_h_menu {display:block; margin:0 auto 40px; padding:0; text-align: center; list-style: none; }
.godgrace_site_content .godgrace_filter_menu a, .godgrace_site_content ul.events_h_menu li a,ul.godgrace_h_menu li a { display: inline-block; float:none;  line-height: 25px; padding:4px 15px; background:#fff; margin:11px 0 0 0; font-weight: bold; text-transform: uppercase; text-decoration: none; font-size: 85%; position: relative; opacity:0.8; }

.godgrace_site_content a.godgrace-active-sort { content:''; background:#f1f1f1; opacity:1; }
.godgrace_site_content .godgrace_filter_menu a:hover, .godgrace_site_content ul.events_h_menu li a:hover,ul.godgrace_h_menu li a:hover { opacity:1; }

.godgrace_horizontal_menu { text-align: center; }
.godgrace_site_content ul.events_h_menu li a,ul.godgrace_h_menu li a { margin:0; }
.godgrace_site_content ul.events_h_menu li,ul.godgrace_h_menu li { display: inline-block; padding:0; margin:0 2px 2px 0; list-style: none; float:none; }

/* ----------------------------------------------
 	14. Testimonials
---------------------------------------------- */

.godgrace_testimonials .godgrace_column { margin:0; position: relative; display: block; }
.godgrace_testimonials_pg_section { padding-top:10px; }
.godgrace-testimonials-slider-two.godgrace_testimonials { margin:0; }

.godgrace_testimonials_style_one .godgrace_testimonials_box { display: block; position: relative; margin-bottom: 40px;  padding-right: 6px; }
.godgrace_testimonials_style_one .godgrace_testimonials_content { border:2px solid rgba(0,0,0,0.07); padding:25px 30px; position: relative; }
.godgrace_testimonials_style_one .godgrace_testimonials_content p { font-size: 1.17em; line-height: 1.9em; margin:0 0 5px 0; }

.godgrace_testimonials_style_one .godgrace_testimonials_quote { position: absolute; right:30px; top:30px; font-size: 30px; width:20px; text-align: right; opacity:0.1 }

.godgrace_testimonials_style_one .godgrace_testimonials_top { display: block; padding:18px 20px; border:2px solid rgba(0,0,0,0.07); border-bottom:0; position: relative; }

.godgrace_testimonials_client_img a { display: block; width:50px; height:50px;}
.godgrace_testimonials_style_one .godgrace_testimonials_client_img,.godgrace_testimonials_style_two .godgrace_testimonials_client_img { z-index:2; position: relative; float:left; width:50px; height:50px; display:block; margin-right:15px; border-radius: 50%; }
.godgrace_testimonials_style_one .godgrace_testimonials_client_img img,.godgrace_testimonials_style_two .godgrace_testimonials_client_img img { width:50px; height:50px; border-radius:50%; display: block; }

.godgrace_testimonials_style_one .godgrace_testimonials_name_details span,.godgrace_testimonials_style_two .godgrace_testimonials_name_details span { z-index:1; display:block; padding:0; line-height:25px; }
.godgrace_testimonials_style_one .godgrace_testimonials_name,.godgrace_testimonials_style_two .godgrace_testimonials_name { font-weight: bold; font-size:105%; }


.godgrace_testimonials_style_two .godgrace_testimonials_box { display: block; position: relative; margin-bottom: 40px;  padding-right: 6px; }

.godgrace_testimonials_style_two .godgrace_testimonials_content { background:rgba(0,0,0,0.05); display: block; padding:25px 40px 25px 30px; position: relative; margin-bottom:32px; }
.godgrace_testimonials_style_two .godgrace_testimonials_quote { position: absolute; right:25px; bottom:25px; font-size: 15px; width:20px; height:20px; text-align: right; }

.godgrace_testimonials_style_two .godgrace_testimonials_details { opacity: 0.8; }

.godgrace_testimonials_style_two .godgrace_testimonials_content:after {width: 0; height: 0; border-top: 25px solid rgba(0,0,0,0.05); border-right: 25px solid transparent; content:''; position: absolute; left:50px; bottom:-25px; background:transparent; }

.godgrace_testimonials_bottom { padding-left:25px; }


/* ---------------------------------------------- 
 	15. Blank Page
---------------------------------------------- */

body.godgrace_stickyOn.page-template-blank .godgrace_containers_holder { margin-top: 0; }
body.page-template-blank {display: table; height: 100%; width: 100%; position: absolute; margin: 0; left: 0; right: 0; top: 0; overflow-x: hidden; clear:both; }
.blank_pg_wrap { display: table-cell; float:none; vertical-align: middle; overflow: visible; width:100%; max-width: none; }
.blank_pg_holder > .vc_row { margin:0; }

/* ---------------------------------------------- 
 	16. WordPress Default Widgets Styles
---------------------------------------------- */

.sidebar select { width:100%; margin:10px 0 0 0; padding:10px 12px; background:url('../images/select.png') no-repeat right 11px; line-height: normal; }

.archives-link ul li ul li:first-child { border:0;  }
.sidebar .textwidget > p > img { margin-top: 5px; }
.sidebar form { margin-bottom: 0; }
.sidebar label { margin-bottom: 10px; font-size: 100%; }

.godgrace_widget_box ul.menu li a i { padding-right: 7px; }

/* 16.1 RSS ---------------------------------------------- */

a.rsswidget {font-weight: bold;}
span.rss-date {font-size: 80%;}

/* 16.2 Text ---------------------------------------------- */

.sidebar .adwrap{ padding:15px 24px 15px 24px;}

/* 16.3 Tag Colud ---------------------------------------------- */

.sidebar .tagcloud { margin:0;}
.tagcloud a { padding:8px 14px;line-height: 17px; float:left; text-decoration: none;margin:0 -1px -1px 0;display:inline-block;width:auto;background:none; }

/* 16.4 Calendar Widget ---------------------------------------------- */

#calendar_wrap { width:100%; }
#wp-calendar { margin:0; font-size: 100%;}
.widget_calendar {float: left; width:100%;  }
#wp-calendar { width: 100% }
table#wp-calendar { border:none; }
#wp-calendar caption { text-align: center; font-size: 110%; margin: 0; font-weight: bold; border-bottom:0; padding:5px 0;  }
#wp-calendar thead { font-size: 90%; }
table#wp-calendar thead th,#wp-calendar thead th { padding:3px 6px; text-align: center; }
table#wp-calendar tbody td,#wp-calendar tbody td { text-align: center; padding:3px 6px; }
#wp-calendar tbody td a { font-weight:bold; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 100%; text-transform: uppercase; text-align: right; vertical-align: baseline; }
#wp-calendar tfoot #prev { font-size: 100%; text-transform: uppercase; padding-top: 10px; }	
#wp-calendar tfoot tr td { border-left:0; border-right:0; border-bottom:0; padding:0; vertical-align: baseline;  }

/* 16.5 Search Widget ---------------------------------------------- */

.widget_search form { margin:0; }
.widget_search #godgrace_search_form { margin:0; clear:both; display: block; position: relative; }
.widget_search #godgrace_search_form  .screen-reader-text { display:block;  }
.widget_search #godgrace_search_form input[type="text"] { margin:0; width:100%; padding:7px 7px 7px 12px; position: relative;  }

.widget_search #godgrace_search_form  #s { width:100%; outline:0; height:40px; background: transparent; border-radius: 3px; padding-left: 15px; }
.widget_search #godgrace_search_form button.godgrace_search_button {  background:none; width: 40px; line-height: 40px;	font-family: FontAwesome !important; font-size:90%; border:0;  height:38px; position: absolute; right:0; text-align: center;margin-top: 1px; box-shadow: none; text-shadow:none; padding:0; position: absolute; right:0; top:0; }

/* 16.6 Recent Comments ---------------------------------------------- */

#content .sidebar .wp-caption p  { margin:0; }

/* 16.7 Captions ---------------------------------------------- */

.wp-caption { border:0; display:block; text-align:center;	margin-bottom: 15px;  max-width: 100%; clear:both; }	
.wp-caption img { padding:0; margin:0; }
.wp-caption p { padding:0 10px; margin:0; font-style: italic; }
p.wp-caption-text { margin:0; padding:10px; }
.sidebar .textwidget img { display:block; }
.sidebar .textwidget p.wp-caption-text img { display:inline-block; }
.sidebar .wp-caption  { border:0; display:block; margin-bottom: 15px; }
.widget ul li span.post-date,.sidebar ul li span.post-date { font-size: 80%; }
.widget ul li span.post-date:before,.sidebar ul li span.post-date:before { content:"- "; }
.sticky {}
.gallery-caption {}
.bypostauthor {}
.alignright { float:right; }
.alignleft { float:left; }