/*

[Table of contents]

	1. Shortcodes Plugin
	2. Event Widget
	3. Contact form 7 
	4. Font Awesome 
	5. Visual Composer 
	6. Donation Plugin (Give)
	7. Recent Tweets
	8. Revolution Slider
	9. Others 
	10. Responsive 

*/

/* ---------------------------------------------- 
 	1. Shortcodes Plugin
---------------------------------------------- */

.swmsc_container { z-index: 1; }

.footer ul.swmsc_the_icons li { border:0; padding-top:4px; padding-bottom: 4px; }

.swmsc_wid_gal { margin-right: -5px; }
.sidebar .swmsc_wid_gal ul li,
.footer .swmsc_wid_gal ul li { padding:0; display: inline-block; border:0; width:73px; height:73px; margin:0 5px 5px 0; overflow: hidden; line-height: 0; font-size: 0; padding:0; word-spacing: normal; vertical-align: top; zoom: 1; float:left; }
.footer .swmsc_wid_gal ul li { display: inline-block; float:left; width:70px; height:70px; padding:2px; border:4px solid rgba(0,0,0,0.2); }
.footer .swmsc_wid_gal ul { margin:0 auto; clear:both; display: table; display: block; }

.sidebar .swmsc_sidebar-advertise ul li,
.footer .swmsc_sidebar-advertise ul li { width:125px; height:125px; border-radius: 0; margin:0 7px 7px 0; }

.sidebar .swmsc_recent_posts_tiny_content p { font-size:100%; margin-top: 5px; display: block; line-height: 20px;  }
.footer .swmsc_recent_posts_tiny_content p { font-size:90%; }
.sidebar .swmsc_recent_posts_tiny ul li { padding:20px 0 0 0; border:0; }
.footer .swmsc_recent_posts_tiny ul li { border:0; }
.sidebar .swmsc_recent_posts_tiny ul li:first-child, .footer .swmsc_recent_posts_tiny ul li:first-child { padding-top:0; } .sidebar .swmsc_recent_posts_tiny ul li:last-child { padding-bottom:0; }
.sidebar .swmsc_recent_posts_tiny ul li .swmsc_recent_posts_tiny_content p { padding:0; }
.sidebar .swmsc_recent_posts_tiny_content, .footer .swmsc_recent_posts_tiny_content { margin-top:0; } 

.footer .swmsc_recent_posts_tiny_content p { line-height: 20px;  margin-top: 5px;  }

.sidebar .swmsc_widget_tabs { display: block; clear:both; }

.swmsc_wid_tabs li { z-index: 3; text-transform: uppercase; padding-top: 8px; background:rgba(0,0,0,0.05); }
.swmsc_wid_tabs li.active:after { content:''; position: absolute; bottom:-5px; left:50%; margin-left: -6px; width: 0; height: 0; border-style: solid; border-width: 7px 6px 0 6px; }
.sidebar .swmsc_widget_tabs,
.sidebar .godgrace_fb_subscribe_wid { margin-bottom:50px; }
.sidebar div.swmsc_widget_tabs:first-child { padding:0; margin-top: -5px; }
.sidebar .swmsc_wid_tabs { margin-bottom:5px; }

.footer .swmsc_twitter_widget ul li:before { top:15px; }
.footer .swmsc_twitter_widget ul li:first-child:before { top:9px; }
.footer .swmsc_wid_tabs li:first-child { padding-top: 8px; }
.footer .swmsc_wid_tabs li.active:after { bottom:-7px; }
.footer .swmsc_widget_tabs { margin-top: 20px; }
.footer .swmsc_wid_tabs_container { margin-top: 10px; }
.footer .swmsc_wid_tabs li { background:rgba(0,0,0,0.15); }

.godgrace_site_content .swmsc_image_lightbox .swmsc_image_lightbox_img a { width:50px; height:50px; color:#fff; border:2px solid rgba(255,255,255,0.2);  border-radius: 50%; left:50%; top:50%; position: absolute; margin-top:-25px; margin-left: -25px; display: block; text-align: center; line-height: 45px; font-size: 20px;}
.godgrace_site_content .swmsc_image_lightbox a:hover .swmsc_image_lightbox_img {  background: rgba(0,0,0,0.3); color:#fff; border-color: rgba(255,255,255,0.5);  }

.godgrace-layout-full-width.godgrace_post_sidebar_page .swmsc_custom_two_third { width:100%; }

.godgrace-layout-sidebar-right .swmsc_custom_two_third { float:left; }
.godgrace-layout-sidebar-left .swmsc_custom_two_third { float:right; }
.godgrace-layout-full-width .swmsc_custom_two_third { margin:0; float:none; width:100%; }

.godgrace-layout-sidebar-left .swmsc_row .swmsc_column2,.godgrace-layout-sidebar-left .swmsc_row .swmsc_column3,.godgrace-layout-sidebar-left .swmsc_row .swmsc_column4,
.godgrace-layout-sidebar-right .swmsc_row .swmsc_column2,.godgrace-layout-sidebar-right .swmsc_row .swmsc_column3,.godgrace-layout-sidebar-right .swmsc_row .swmsc_column4 {
    width:50%; }

.swmsc_full_width_section .swmsc_testimonials_wide_slide { background:transparent; }

.footer .swmsc_sm_wid_icons ul li.ic_medium i { margin:0; }

.swmsc-heading-font,.swmsc-font-heading,.godgrace_site_content .swmsc-heading-font a,.godgrace_site_content .swmsc-font-heading a { color:#333; line-height: 1.5em; }

.godgrace_site_content .swmsc_sermons_right h4 { margin-bottom:5px; line-height:normal; }
.godgrace_site_content .swmsc_sermons_grid .swmsc_sermons_right h4 { font-size:20px; text-align:center; }

.swmsc_team_member_content { padding:15px; border:4px solid #f1f1f1; background:none; margin-top:-1px; }
.swmsc_team_member_content ul { margin:3px 0 0 0; box-shadow:none; }
.swmsc_team_member_content ul li { width:22px; height:22px; line-height:22px; }
.swmsc_team_member:hover .swmsc_team_member_content { border-color:#e6e6e6; }
.swmsc_events_style_four .swmsc_view_all_events { padding:40px 0; font-size:105%; }
.swmsc_events_style_four .swmsc_view_all_events a { color:#606060; }

.swmsc_team_member_small_img img { border:0; }
.swmsc_team_member_small_content { border:2px solid rgba(0,0,0,0.05); }
.swmsc_team_member_small_content h5 { margin-bottom:5px; }

button.mfp-close:hover { background:none; }
.swmsc_cause_style_three .swmsc_cause_content .swmsc_cause_img { max-width:300px; }

.footer .swmsc_recent_posts_tiny_content p span { font-weight:bold; font-size:100%; }
.swmsc_testimonials_background_color_box .swmsc_testimonials_content { border:3px solid #e6e6e6; background:none; margin-bottom:10px; border-radius:0 0 0 25px; }
.swmsc_testimonials_background_color_box .swmsc_testimonials_content p { font-size: 110%; line-height:1.8em;  }
.swmsc_testimonials_background_color_box .swmsc_testimonials_content:after { display: none; }
.swmsc_testimonials_background_color_box .swmsc_testimonials_quote { font-size:25px; }
.swmsc_testimonials_background_color_box .swmsc_testimonials_client_img {width: 65px; height: 65px; margin-top: -42px; border: 3px solid #e6e6e6; padding: 3px; background: #fff; }

.swmsc_testimonials_name_details { margin-left:80px; }
.swmsc_testimonials_border_box .swmsc_testimonials_name, .swmsc_testimonials_background_color_box .swmsc_testimonials_name { font-size:120%;  }
.swmsc_testimonials_background_color_box .swmsc_testimonials_details { font-size:95%; opacity:0.9; }
.swmsc_testimonials_background_color_box.darkbg .swmsc_testimonials_content { border:0; }
.swmsc_testimonials_background_color_box.darkbg .swmsc_testimonials_client_img { border:0; padding:0; width:65px; height:65px; border:5px solid;  }

.swmsc_recent_posts_tiny .swmsc_recent_posts_tiny_title a { font-size: 110%; line-height: normal; }
.swmsc_recent_posts_tiny ul li a img { width:70px; height:70px; }
.swmsc_widget_tabs .swmsc_wid_tabs li a,.swmsc_recent_posts_tiny_content p span { font-size:100%; }

.godgrace_cause_single_sm_icons ul.swmsc_post_share_icons_list li,.godgrace_sermon_single_sm_icons ul.swmsc_post_share_icons_list li { border:0; background:#f4f4f4; }
.godgrace_cause_single_sm_icons .swmsc_post_share_links,.godgrace_sermon_single_sm_icons .swmsc_post_share_links { float:none; }

/* ---------------------------------------------- 
 	2. Event Widget
---------------------------------------------- */

.footer .swmsc_widget_events_content ul li { padding:0; margin-left:0; }
.footer .swmsc_widget_events_content ul { margin:0; padding:0; }
.footer li .swmsc_widget_events_icon i { margin:0; }
.sidebar .swmsc_widget_events > ul > li a img,.sidebar  a.swmsc_widget_events_icon { }
.sidebar .swmsc_widget_events_title span { margin:12px 0 7px; width:25px; }
.sidebar a.swmsc_widget_events_icon > i { line-height: 60px; }
.sidebar .swmsc_widget_events_content p span i { margin-right: 5px; }
.sidebar .swmsc_widget_events_title a { font-size: 110%;  }
.sidebar .swmsc_widget_events_content ul li { display: inline-block; float:left; margin-right: 15px; font-size: 100%; padding:0; }
.sidebar .swmsc_widget_events_content ul li a { display: inline-block; }
.sidebar .swmsc_widget_events_content ul li i { margin-right: 5px; }
.sidebar .swmsc_widget_events_content ul { padding:0; }
.sidebar .swmsc_widget_events > ul > li:first-child { padding-top: 0; }
.swmsc_widget_events_title span { display: none; }
.swmsc_widget_events_title { font-weight: bold; margin-bottom:5px; }
.swmsc_widget_events > ul > li a img,.swmsc_recent_posts_tiny ul li a img { border:4px solid rgba(0,0,0,0.2); padding:2px; }
.sidebar .swmsc_widget_events > ul > li a img,.sidebar .swmsc_recent_posts_tiny ul li a img { border:3px solid rgba(0,0,0,0.1); padding:2px; }

/* ---------------------------------------------- 
 	3. Contact form 7
---------------------------------------------- */

div.wpcf7 { margin:20px 0 30px 0; }
.wpcf7 input[type='text'],.wpcf7 input[type='email'] { margin:0; }
.wpcf7 textarea { height:165px; margin:0; }
div.wpcf7 input { width:100%; }
div.wpcf7 input[type="submit"] { width:auto; height:auto; padding:4px 30px; font-size:100%; border-radius:30px; }
.wpcf7 input[type='range'],.wpcf7 input[type='date'] {  }
.wpcf7 input[type='date'] { padding:10px; }
.wpcf7 select { background:url(../images/select.png) no-repeat right center; padding:10px; width:100%; }
.wpcf7 select[multiple] { background:none;}
.wpcf7 input[type="checkbox"],.wpcf7 input[type="radio"] { display: inline-block; width:auto; }
.wpcf7 label span { margin-right: 5px; }
.wpcf7 input[type='file'] { display: inline-block; width:auto; padding:10px; }
span.wpcf7-list-item { margin-left: 0; }

/* ---------------------------------------------- 
 	4. Font Awesome
---------------------------------------------- */

.godgrace_container ul.fa-ul { list-style: none; margin-left: 0; }

/* ---------------------------------------------- 
 	5. Visual Composer
---------------------------------------------- */

.vc_row .swmsc_row { margin:0 -20px; }
.page-template-100-width .godgrace_main_container > .vc_row { margin-left: 0; margin-right: 0; }
.wpb_content_element { margin-bottom: 0; }
.page-template-100-width  .godgrace_main_container > .vc_row > .vc_column_container > .vc_column_container > .vc_column-inner { padding-left:0; padding-right:0; }
.vc_row .swmsc_row.swmsc_counter_boxes { margin:0; padding:0 15px; }

/* ---------------------------------------------- 
 	6. Donation Plugin ( Give )
---------------------------------------------- */

h2.give-form-title,.give-goal-progress { display: none; }
input[type="checkbox"].give_agree_to_terms, #give_terms_agreement label { display:inline-block; margin-left:5px; }
#give_show_terms .give_terms_links { font-size: 90%; }
ul#give-donation-level-radio-list li { display: inline-block; margin-right:20px; font-weight: normal; }
ul#give-donation-level-radio-list li label,#give-payment-mode-select #give-gateway-radio-list label { font-weight:normal; display: inline-block; padding-left:5px; }
#give-payment-mode-select,#give_purchase_form_wrap { border:1px solid rgba(0,0,0,0.1); border-bottom:0; padding:25px 30px; margin-bottom:-1px; border-left:0; border-right:0;  }
#give-payment-mode-select .give-payment-mode-label { border:0; padding:0; margin:0; }
#give-payment-mode-select #give-gateway-radio-list { margin:0; }
#give-recurring-form, form.give-form, form[id*=give-form] { border:1px solid rgba(0,0,0,0.1); padding:30px 0 0 0; display: block;  }
#give_purchase_form_wrap legend { display: none; }
.give-total-wrap,#give-donation-level-radio-list,ul#give-donation-level-button-wrap,.give-custom-amount-text { padding:0 30px; }
form[id*=give-form] .give-donation-amount #give-amount, form[id*=give-form] .give-donation-amount #give-amount-text,
form[id*=give-form] .give-donation-amount .give-currency-symbol,
form[id*=give-form] #give-final-total-wrap .give-donation-total-label,
form[id*=give-form] #give-final-total-wrap .give-final-total-amount { height:40px; line-height:40px; }
#give-purchase-button { margin-bottom:10px; }
ul#give-donation-level-button-wrap { margin-bottom:25px; }
ul#give-donation-level-button-wrap li { margin:0 -1px -1px 0; }
ul#give-donation-level-button-wrap li button { border-radius:0; border-color:rgba(0,0,0,0.1); border-right:1px solid rgba(0,0,0,0.05); }
ul#give-donation-level-button-wrap li:last-child button { border-color:rgba(0,0,0,0.1); }
ul#give-donation-level-button-wrap li button.give-btn { padding:10px 20px; font-size:90%; background:transparent;  }
form[id*=give-form] #give-final-total-wrap .give-donation-total-label,form[id*=give-form] #give-final-total-wrap .give-final-total-amount { font-size:95%; padding-left:15px; padding-right:15px; }

.give-select.give-select-level.give-donation-levels-wrap { margin:0 30px 30px; padding:10px 12px; background:url(../images/select.png) no-repeat right center; }
table#give_donation_receipt .give-receipt-thead-text { text-transform: uppercase; font-size: 120%; }
table.give-table { font-size:100%; }

.give-form .give_error { margin:0 30px 30px; }
.set-price.give-donation-amount.form-row-wide { padding:0 30px; }

.sidebar ul#give-donation-level-button-wrap li,.sidebar ul#give-donation-level-button-wrap li { border:0; padding:0; margin:0 -1px -1px 0; display: inline-block; float:left; }
.sidebar [id*=give-form].give-display-modal ul li .give-btn,.sidebar ul#give-donation-level-button-wrap .give-donation-level-btn { margin:0; }
.sidebar ul#give-donation-level-button-wrap li button { border-color:#e6e6e6; padding:10px 15px; }
.sidebar ul#give-gateway-radio-list li { padding:0; margin:0 15px 0 0; border:0; }
.sidebar #give_purchase_form_wrap { margin-top:0; }
.sidebar #give_purchase_form_wrap input[type="text"],.sidebar #give_purchase_form_wrap input[type="email"] { padding:6px 12px; }
.sidebar form.give-form .form-row { margin:0; }

[id*=give-form].give-display-modal button.give-btn.give-btn-modal,[id*=give-form].give-display-reveal button.give-btn-reveal {  margin:0 30px 30px; padding:10px 25px; text-transform: uppercase; border:0; }

.give-modal .mfp-inline-holder .mfp-content form[id*=give-form] { border-top:0; padding:0; }

.give-modal .mfp-inline-holder .mfp-content button.mfp-close { background:#f2f2f2; border:1px solid rgba(0,0,0,0.05); border-radius:0; }
.give-modal .mfp-inline-holder .mfp-content a { text-decoration: none; }

.wpb_text_column p.form-row input:last-child,.wpb_text_column #give_terms p:last-child, .wpb_text_column #give_purchase_form_wrap :last-child { margin-bottom:20px; }

#give-payment-mode-select { border-top:0; }
#give_terms_agreement #give_terms { background:rgba(0,0,0,0.05); padding:20px; margin-bottom: 20px; }

/* ---------------------------------------------- 
 	7. Recent Tweets
---------------------------------------------- */

.sidebar .tp_recent_tweets ul li,.footer .tp_recent_tweets ul li {  background: none; line-height: 22px; border:0; line-height:1.8em; padding-top:0; padding-bottom:10px; }
.sidebar .tp_recent_tweets ul li:last-child { margin-bottom:0; padding-bottom: 0; }

.footer .tp_recent_tweets ul li:before,.sidebar .tp_recent_tweets ul li:before { content:"\f099"; font-size: 13px; font-family: fontAwesome; width:26px; height:26px; line-height: 26px; border-radius: 100px; float:left; margin:5px 0 0 -38px; display: inline-block; text-align: center;  }

.footer .tp_recent_tweets ul li { border-bottom: 0; padding-bottom: 15px; }

.sidebar .tp_recent_tweets ul li:before { margin-left: -40px; }
.sidebar .tp_recent_tweets ul li { padding-left: 60px; margin:0 -20px 0 -20px; padding-right:20px; }
.footer .tp_recent_tweets ul li { padding-left:40px;  }

.tp_recent_tweets ul li a.twitter_time { font-style: normal; }
.tp_recent_tweets .twitter_time { font-size: 90%; }


/* ---------------------------------------------- 
 	8. Revolution Slider
---------------------------------------------- */
.rev_slider {overflow-x: hidden}

/* ---------------------------------------------- 
 	9. Others
---------------------------------------------- */
iframe.twitter-tweet.twitter-tweet-rendered { width:100%; max-width: 100%; }

/* ---------------------------------------------- 
 	10. Responsive
---------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 979px) {
	.sidebar .swmsc_widget_opening_hours ul li { width:33.3%; }
	.sidebar .swmsc_widget_opening_hours li:last-child { width:99%; }
}

@media only screen and (max-width: 767px) {
  	.godgrace_site_content .swmsc_testimonials_title h5 { padding-right:0; }
  	.footer .swmsc_contact_info_widget { margin-top: 0; }
}


/* ---------------------------------------------- 
 	New
---------------------------------------------- */

.godgrace_site_content .swmsc_recent_post_large_text h4 { line-height: normal; margin:0; font-size: 145%; line-height: 140%; }
.godgrace_site_content .swmsc_services_icons h5 { line-height: normal; }
.godgrace_site_content .swmsc_pricing_tables_box_content h4 { font-size: 24px; margin:0 0 5px 0; }
.godgrace_site_content .swmsc_rp_slider_content h4 { line-height: normal; margin:0; font-size: 27px; line-height:normal; }
.godgrace_event_list_datebox_inner {  display: block;  width:100%; height:100%; min-height: 128px; position: relative; vertical-align: middle; }
.godgrace_event_list_datebox_inner { border:2px solid #dfdfdf; background:#fff; }


@media only screen and (max-width: 979px) { 
  
   .godgrace-layout-sidebar-left .swmsc_row .swmsc_column2, .godgrace-layout-sidebar-left .swmsc_row .swmsc_column3, .godgrace-layout-sidebar-left .swmsc_row .swmsc_column4, .godgrace-layout-sidebar-right .swmsc_row .swmsc_column2, .godgrace-layout-sidebar-right .swmsc_row .swmsc_column3, .godgrace-layout-sidebar-right .swmsc_row .swmsc_column4 { width: 50%; }
}

@media only screen and (max-width: 767px) {

	.godgrace-layout-sidebar-left .swmsc_row .swmsc_column2, .godgrace-layout-sidebar-left .swmsc_row .swmsc_column3, .godgrace-layout-sidebar-left .swmsc_row .swmsc_column4, .godgrace-layout-sidebar-right .swmsc_row .swmsc_column2, .godgrace-layout-sidebar-right .swmsc_row .swmsc_column3, .godgrace-layout-sidebar-right .swmsc_row .swmsc_column4 { width: 100%; }

	.godgrace_site_content .swmsc_rp_slider_content h4 { font-size: 20px; }
	
}

/*Woocommerce fix*/
.quantity input.qty {width: 50px; height: 40px; float: left; padding: 0; text-align: center; border-color: #e5e5e5; text-indent: 0; }