/*
Theme Name:     God Grace Child Theme
Theme URI:      http://themeforest.net/user/Softwebmedia/portfolio
Description:    God Grace Child Theme for customization
Author:         Soft Web Media
Author URI:     http://themeforest.net/user/Softwebmedia
Template:       god-grace                      
Version: 		1.00
*/


/* Add your custom style below */

body.page-id-926 {background-color:#444444;background-image:url(../../uploads/2017/09/boxed-bg.jpg);background-position:center top;background-repeat:repeat;background-attachment:fixed;background-size:cover;}

.page-id-926.godgrace_l_boxed .godgrace_main_container { max-width:1180px; width:90%; }
.page-id-926.godgrace_l_boxed.godgrace_stickyOn .godgrace_logo_menu_header,
.page-id-926.godgrace_l_boxed #godgrace_Header.sticky-on { max-width:1180px; }

body.page-id-923 .godgrace_post_title h2,body.page-id-923 .godgrace_post_title h2 a { font-size: 15px; line-height:1.7em; text-transform: none; }